.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}