@import './font-family';
@import './global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .sm-basic-text {
    font-size: 16px !important;
  }

  .sm-medium-text {
    font-size: 18px !important;
  }
}

.sm-basic-text {
  @extend .sm-basic-text;
}

.sm-medium-text {
  @extend .medium-text;
}

.smallest-text {
  @extend .font-params;
  font-size: 12px;
}

.small-text {
  @extend .font-params;
  font-size: 14px;
}

.smaller-text {
  @extend .font-params;
  font-size: 16px;
}

.medium-text {
  @extend .font-params;
  font-size: 21px;
}

.larger-text {
  @extend .font-params;
  font-size: 24px;
}

.large-text {
  @extend .font-params;
  font-size: 27px;
}

.title-text {
  @extend .large-text;
  font-weight: 400;
}

.biggest-title {
  @extend .font-params;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  margin: 50px 0;
}

.bold-text {
  font-weight: 400 !important;
}

.bold-max-text {
  font-weight: 600 !important;
}

.text-trans-none {
  text-transform: none;
}

.color-primary {
  color: var(--ion-color-primary);
}

.color-secondary {
  color: var(--ion-color-secondary);
}

.color-tertiary {
  color: var(--ion-color-tertiary);
}

.color-medium {
  color: var(--ion-color-medium);
}

.color-minor {
  color: var(--ion-color-minor);
}

.color-main {
  color: var(--ion-color-main);
}

.color-dark {
  color: var(--ion-color-dark);
}

.color-logo {
  color: red;
}

.direction-ltr {
  direction: ltr;
}