.font-params {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.bold-text {
  font-weight: 500 !important;
}

.basic-text {
  @extend .font-params;
  font-size: 16px;
}

.title-text {
  @extend .font-params;
  font-size: 18px;
}

.larger-text {
  @extend .font-params;
  font-size: 20px;
}

.large-text {
  @extend .font-params;
  font-size: 22px;
}

.small-text {
  @extend .font-params;
  font-size: 14px;
}

.small-12-text {
  @extend .font-params;
  font-size: 12px;
}