.font-params {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'IBM Plex Serif', serif;
  font-family: 'Open Sans', sans-serif;
  line-height: 38px;
  letter-spacing: -0.003em;
  // letter-spacing: 1px;
  font-weight: 300;
}

.bold-text {
  font-weight: 500 !important;
}

.basic-text {
  @extend .font-params;
  font-size: 21px;
}

.title-text {
  @extend .font-params;
  font-size: 28px;
  font-weight: 400;
}

.larger-text {
  @extend .font-params;
  font-size: 27px;
}

.large-text {
  @extend .font-params;
  font-size: 30px;
}


.large-24-text {
  @extend .font-params;
  font-size: 24px;
}

.large-26-text {
  @extend .font-params;
  font-size: 26px;
  line-height: 1;
}

.small-text {
  @extend .font-params;
  font-size: 14px;
}

.small-12-text {
  @extend .font-params;
  font-size: 12px;
}

.main-title {
  @extend .font-params;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  margin: 50px 0;
}

.color-primary {
  color: var(--ion-color-primary);
}

.color-secondary {
  color: var(--ion-color-secondary);
}

.color-tertiary {
  color: var(--ion-color-tertiary);
}

.color-medium {
  color: var(--ion-color-medium);
}

.color-minor {
  color: var(--ion-color-minor);
}

.color-main {
  color: var(--ion-color-main);
}

.color-logo {
  color: red;
}