.font-params {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.basic-text {
  @extend .font-params;
  font-size: 16px;
}

.larger-text {
  @extend .font-params;
  font-size: 20px;
}

.large-text {
  @extend .font-params;
  font-size: 22px;
}

.small-text {
  @extend .font-params;
  font-size: 14px;
}