@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .c-div p {
    padding: 0 10px !important;
  }

  .c-div,
  .q-div {
    width: 100% !important;
  }

  .q-div ion-input,
  .q-div ion-textarea{
    width: 290px !important;
  }

  .biggest-title {
    font-size: 30px !important;
    margin: 30px 0 !important;
  }
}

p {
  margin: 10px 0;
}

.c-div {
  width: 450px;
  padding: 0 10px;
  text-align: center;
}

.c-div p {
  padding: 0 60px;
  padding-bottom: 20px;
}

.q-div {
  width: 450px;
  padding: 0 10px;
}

.q-div ion-input,
.q-div ion-textarea {
  @extend .basic-text;
  border: 1px solid var(--ion-color-light-shade);
  border-radius: 10px;
  --padding-start: 20px;
  --padding-end: 10px;
  margin: 20px 0;
  width: 400px;
}

.q-div ion-input {
  height: 45px;
}

.sec-divider {
  padding: 30px 0;
  width: 100%;
}