<ion-grid>

  <ion-row class="top-margin ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-label class="ion-text-center">
        <p class="large-26-text bold-text">HAVE SOME QUESTIONS?</p>
        <p class="title-text">Get in touch with us, we want to hear from you!</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="c-div">
        <p class="title-text">We’re here to help and answer any question you might have.</p>
        <p class="title-text color-secondary">You can reach us by social media, email or directly using this form.</p>
        <app-contact-links></app-contact-links>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="q-div">
        <ion-input placeholder="Your name" [value]="feedback?.name" (ionChange)="setName($event)"></ion-input>
        <ion-input placeholder="What's your email?" [value]="feedback?.email" (ionChange)="setEmail($event)"></ion-input>
        <ion-textarea 
          placeholder="Your questions, comments..."
          rows="5"
          spellcheck="true"
          autoGrow="true"
          [value]="feedback?.message"
          (ionChange)="setMessage($event)">
        </ion-textarea>
        <ion-button (click)="sendMessage()">
          <ion-label>Send Message</ion-label>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>