<ion-grid>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-label class="ion-text-center">
        <p class="biggest-title color-dark">Have Some Questions?</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="c-div">
        <p class="larger-text">We’re here to help answer any question you might have.</p>
        <p class="medium-text color-secondary">You can reach us by social media, email or directly using this form.</p>
        <app-contact-links></app-contact-links>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="q-div">
        <ion-input *ngIf="!profile"
          placeholder="Your name" [value]="feedback?.name" (ionChange)="setName($event)">
        </ion-input>
        <ion-input *ngIf="!profile"
          placeholder="What's your email?" [value]="feedback?.email" (ionChange)="setEmail($event)">
        </ion-input>
        <ion-textarea 
          placeholder="How can we help?"
          rows="5"
          spellcheck="true"
          autoGrow="true"
          [value]="feedback?.message"
          (ionChange)="setMessage($event)">
        </ion-textarea>
        <ion-button (click)="sendMessage()">
          <ion-label>SEND</ion-label>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <div class="sec-divider"></div>
</ion-grid>