<ion-grid>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-label class="ion-text-center">
        <p class="biggest-title color-dark">{{ dictContact.title }}</p>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="c-div">
        <p class="larger-text">{{ dictContact.subTitle_1 }}</p>
        <p class="medium-text color-secondary">{{ dictContact.subTitle_2 }}</p>
        <app-contact-links></app-contact-links>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="q-div">
        <ion-input *ngIf="!profile"
          [placeholder]="dictContact.placeholder_1" [value]="feedback?.name" (ionChange)="setName($event)">
        </ion-input>
        <ion-input *ngIf="!profile"
          [placeholder]="dictContact.placeholder_2" [value]="feedback?.email" (ionChange)="setEmail($event)">
        </ion-input>
        <ion-textarea 
          [placeholder]="dictContact.placeholder_3"
          rows="5"
          spellcheck="true"
          autoGrow="true"
          [value]="feedback?.message"
          (ionChange)="setMessage($event)">
        </ion-textarea>
        <ion-button (click)="sendMessage()">
          <ion-label>{{ dictContact.sendBtn }}</ion-label>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <div class="sec-divider"></div>
</ion-grid>