<ion-grid>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="basic-text">Name</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          placeholder="Connection Name" 
          maxLength="20" 
          debounce="300"
          [disabled]="!canEdit"
          [value]="Q?.name"
          (ionChange)="setName($event)">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>

        <ion-select *ngIf="internalContact?.name?.length > 1 && canEdit"
          class="contact-select" mode="ios" selected-text=" "
          [value]="selectedContactNameValue"
          (ionChange)="selectedContactName($event)">
          <ion-select-option [value]="i" *ngFor="let valueTxt of internalContact?.name; let i = index;">
            {{ valueTxt }}
          </ion-select-option>
        </ion-select>

      </ion-item>
      <p class="p-error" [class.p-error-active]="isNameError">{{ nameError }}</p>
    </ion-col>
    
    <ion-col size="auto">
      <p class="basic-text">Mobile Number</p>
      <input id="tel-input"
        [disabled]="connectionState?.state === 'edit' || connectionState?.state === 'edit_closure'"
        type="tel" ng2TelInput
        [name]="Q?.phoneNumber"
        [ng2TelInputOptions]="{initialCountry: countryCode, utilsScript: '../../../assets/js/intl-tel-input/utils.js'}"
        (hasError)="telHasError($event)" 
        (intlTelInputObject)="telInputObject($event)"/>

        <ion-select *ngIf="internalContact?.tel?.length > 1 && canEdit"
          class="contact-select contact-select-tel" mode="ios" selected-text=" "
          [value]="selectedContactTelValue"
          (ionChange)="selectedContactTel($event)">
          <ion-select-option [value]="i" *ngFor="let valueTxt of internalContact?.tel; let i = index;">
            {{ valueTxt }}
          </ion-select-option>
        </ion-select>

        <p class="basic-text p-error" [class.p-error-active]="isPhoneError">{{ phoneError }}</p>
    </ion-col>

    <ion-col size="auto" *ngIf="canEdit || (!canEdit && Q?.email)">
      <p class="basic-text">Email (Optional)</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          type="email"
          inputmode="email"
          placeholder="Connection Email" 
          maxLength="100" 
          debounce="300"
          [disabled]="!canEdit"
          [value]="Q?.email"
          (ionChange)="setEmail($event)">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>

        <ion-select *ngIf="internalContact?.email?.length > 1 && canEdit"
          class="contact-select" mode="ios" selected-text=" "
          [value]="selectedContactEmailValue"
          (ionChange)="selectedContactEmail($event)">
          <ion-select-option [value]="i" *ngFor="let valueTxt of internalContact?.email; let i = index;">
            {{ valueTxt }}
          </ion-select-option>
        </ion-select>

      </ion-item>
      <p class="p-error" [class.p-error-active]="isEmailError">{{ emailError }}</p>
      <p class="smallest-text p-sub-text" *ngIf="canEdit">
        We will send an invitation email stating that someone is looking for them(without revealing who it is from)
      </p>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="canEdit && (connectionState?.state !== 'add_closure' && connectionState?.state !== 'edit_closure')">
    <ion-row class="padding-top ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-list>
          <ion-item lines="none">
            <ion-toggle 
              color="secondary"
              [value]="Q?.welcomeMessage"
              [checked]="showWelcomeMessage" 
              (ionChange)="toggleWelcomeMessage($event)">
            </ion-toggle>
            <ion-label class="basic-text ion-text-wrap">Welcome Message</ion-label>
          </ion-item>
          <p class="smallest-text p-sub-text">Show them you care. write them something inviting.</p>
          <p class="smallest-text p-sub-text">(You can change it later)</p>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto" *ngIf="showWelcomeMessage">
        <ion-item class="item-select" lines="none">
          <ion-label color="success" class="basic-text">Suggested messages</ion-label>
          <ion-select
            mode="ios" multiple="true" cancel-text="Cancel" ok-text="Ok" selected-text=" " 
            [interfaceOptions]="customSelectOptions"
            (ionChange)="selectedMessages($event)">
            <ion-select-option 
              [value]="i" *ngFor="let valueTxt of customSelectText; let i = index;">{{ valueTxt }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-textarea 
            color="dark"
            rows="6" 
            spellcheck="true"
            placeholder="Don't say it unless you mean it"
            [autoGrow]="true"
            [value]="Q?.welcomeMessage"
            (ionChange)="setWelcomeMessage($event)">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-row *ngIf="canEdit && (connectionState?.state === 'add_closure' || connectionState?.state === 'edit_closure')"
    class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-item lines="none">
        <ion-label class="basic-text ion-text-wrap ion-text-center">Closure Message</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea 
          color="dark"
          rows="10" 
          spellcheck="true"
          placeholder="Write From Your Heart"
          [autoGrow]="true"
          [value]="Q?.welcomeMessage"
          (ionChange)="setWelcomeMessage($event)">
        </ion-textarea>
      </ion-item>
      <p class="p-error" [class.p-error-active]="isClosureError">{{ closureError }}</p>
    </ion-col>
  </ion-row>

  <ion-row class="padding-top ion-justify-content-center ion-align-items-center" *ngIf="canEdit">
    <ion-col size="auto" class="col-txt">
      <p class="small-text p-note">
        Don't worry, we are not doing anything yet.
        They will be notified ONLY if they are looking for you too.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="canEdit">
    <ion-col size="auto">
      <ion-button class="basic-text ion-text-capitalize" fill="outline" color="secondary" (click)="close()">Cancel</ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button [color]="isValidForm ? 'primary' : 'danger'"
        class="basic-text ion-text-capitalize" (click)="addOrSaveConnection()">
        {{ saveConnectionButtonText }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="!canEdit && connectionState?.connection?.isClosureMatched">

    <ng-container *ngIf="connectionState?.connection?.isClosure">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" *ngIf="connectionState?.connection?.otherParty?.message">
          <p class="message-display-title">
            {{ connectionState?.connection?.basicInfo?.name }}'s
            {{ connectionState?.connection?.otherParty?.isClosure ? 'Closure' : 'Welcome' }}  Message
          </p>
          <div class="message-display">
            <p>{{ connectionState?.connection?.otherParty?.message }}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12">
          <p class="message-display-title basic-text">Your Closure Message</p>
          <div class="message-display">
            <p>{{ connectionState?.connection?.basicInfo?.welcome_msg }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="!connectionState?.connection?.isClosure">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12">
          <p class="message-display-title">{{ connectionState?.connection?.basicInfo?.name }}'s Closure Message</p>
          <div class="message-display">
            <p>{{ connectionState?.connection?.otherParty?.message }}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="connectionState?.connection?.basicInfo?.welcome_msg">
        <ion-col size="12">
          <p class="message-display-title">Your Welcome Message</p>
          <div class="message-display">
            <p>{{ connectionState?.connection?.basicInfo?.welcome_msg }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row class="ion-justify-content-center ion-align-items-center closure-btn">
      <ion-col size="auto">
        <ion-button class="basic-text ion-text-capitalize" color="secondary" (click)="close()">Close</ion-button>
      </ion-col>
    </ion-row>
    
  </ng-container>

</ion-grid>
