@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) { 
  .item-input {
    min-width: 300px !important;
  }

  #tel-input {
    min-width: 300px !important;
  }

  .p-note {
    margin-bottom: 10px !important;
  }

  .p-sub-text {
    max-width: 300px !important;
  }
}

ion-toggle {
  margin-inline-end: 10px;
}

.item-input {
  --background: var(--ion-color-light);
  --background-focused: transparent;
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}

.p-error {
  @extend .smaller-text;
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

#tel-input {
  height: 48px;
  border: 0;
  border-radius: 10px;
  background:  var(--ion-color-light);
  min-width: 350px;
}

input:focus {
  outline: none;
}

::placeholder {
  opacity: 0.6;
}

.p-note {
  max-width: 500px;
  color: var(--ion-color-secondary);
  text-align: center;
  margin-bottom: 2px;
  padding: 0 10px;
}

.p-sub-text {
  max-width: 350px;
  margin: 0;
  margin-bottom: 2px;
  text-align: center;
  color: var(--ion-color-medium);
}

.p-title {
  color: var(--ion-color-primary);
  text-align: center;
}

.header-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

.header-item ion-label {
  position: absolute;
  top: 3px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.bt-round {
  width: 40px;
  height: 40px;
}

.item-select {
  --border-radius: 10px;
}

.padding-top {
  padding-top: 20px;
}

.contact-select {
  --padding-start: 0;
  z-index: 0;
}

.contact-select-tel {
  position: absolute;
  top: 35px;
  bottom: 0;
  margin: auto;
  right: 15px;
}

.message-display-title {
  @extend .basic-text;
  text-align: center;
  color: var(--ion-color-secondary);
}

.message-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: 100px;
  padding: 10px;
  background: var(--ion-color-light);
}

.message-display p {
  @extend .smaller-text;
  white-space: pre-line;
}

.closure-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}