@import '../../styles/global-styles';
@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  ion-col {
    padding: 0px 0px !important;
  }
  
  .item-input {
    min-width: 290px !important;
  }

  #tel-input {
    min-width: 290px !important;
  }

  .p-note {
    margin-bottom: 10px !important;
  }
}

p {
  @extend .basic-text;
}

ion-col {
  padding: 15px 30px;
}

.item-input {
  --background: var(--ion-color-light);
  --background-focused: transparent;
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}

.p-error {
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

#tel-input {
  height: 48px;
  border: 0;
  border-radius: 10px;
  background:  var(--ion-color-light);
  min-width: 350px;
}

input:focus {
  outline: none;
}

::placeholder {
  opacity: 0.6;
}

.p-title {
  color: var(--ion-color-primary);
  text-align: center;
}

.p-note {
  max-width: 500px;
  color: var(--ion-color-secondary);
  text-align: center;
  margin-bottom: 2px;
}

.p-sub-text {
  margin: 0;
  margin-bottom: 2px;
  text-align: center;
  color: var(--ion-color-medium);
}