<ion-grid>
  <!-- <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="title-text p-title">Who do you want to reconnect with?</p>
    </ion-col>
  </ion-row> -->
  
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-item class="header-item" lines="none">
        <!-- TODO: REMOVE TRUE -->
        <app-contact-picker *ngIf="contactPickerApiService?.supported"
          (contactsEvent)="gotContacts($event)">
        </app-contact-picker>
        <ion-button class="bt-round" slot="end" fill="clear" shape="round" color="dark" (click)="close()">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p>Name</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          placeholder="Connection Name" 
          maxLength="20" 
          debounce="300"
          [value]="Q?.name"
          (ionChange)="setName($event)">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <p class="p-error" [class.p-error-active]="isNameError">{{ nameError }}</p>
    </ion-col>
    
    <ion-col size="auto">
      <p>Mobile Number</p>
      <input id="tel-input"
        [disabled]="connectionState?.state === 'edit'"
        type="tel" ng2TelInput
        [name]="Q?.phoneNumber"
        [ng2TelInputOptions]="{initialCountry: countryCode, utilsScript: '../../../assets/js/intl-tel-input/utils.js'}"
        (hasError)="telHasError($event)" 
        (intlTelInputObject)="telInputObject($event)"/>
        <p class="basic-text p-error" [class.p-error-active]="isPhoneError">{{ phoneError }}</p>
    </ion-col>

    <ion-col size="auto">
      <p>Email (Optional)</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          type="email"
          inputmode="email"
          placeholder="Connection Email" 
          maxLength="100" 
          debounce="300"
          [value]="Q?.email"
          (ionChange)="setEmail($event)">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <p class="p-error" [class.p-error-active]="isEmailError">{{ emailError }}</p>
      <p class="small-12-text p-sub-text">
        We will send an invitation email stating that someone is looking for them(without revealing who it is from)
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-list>
        <ion-item lines="none">
          <ion-toggle 
            color="secondary"
            [value]="Q?.welcomeMessage"
            [checked]="showWelcomeMessage" 
            (ionChange)="toggleWelcomeMessage($event)">
          </ion-toggle>
          <ion-label class="basic-text ion-text-wrap">Welcome Message</ion-label>
        </ion-item>
        <p class="small-12-text p-sub-text">Show them you care. write them something inviting.</p>
        <p class="small-12-text p-sub-text">(You can change it later)</p>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto" *ngIf="showWelcomeMessage">
      <ion-item lines="none">
        <ion-textarea 
          color="dark"
          rows="6" 
          spellcheck="true"
          placeholder="Don't say it unless you mean it"
          [autoGrow]="true"
          [value]="Q?.welcomeMessage"
          (ionChange)="setWelcomeMessage($event)">
        </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto" class="col-txt">
      <p class="small-text p-note">
        Don't worry, we are not doing anything yet.
        They will be notified ONLY if they are looking for you too.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-button class="basic-text ion-text-capitalize" fill="outline" color="secondary" (click)="close()">Cancel</ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button class="basic-text ion-text-capitalize" (click)="addOrSaveConnection()">{{ saveConnectionButtonText }}</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
