@import '../../styles/animation';
@import '../../styles/fonts-text';

ion-card {
  min-width: 290px;
}

.hide {
  @extend .fadeOutUp;
  margin: 0;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.show {
  @extend .fadeInDown;
  max-height: 500px;
  transition: max-height 0.6s ease-in-out;
}