<ion-card color="main" class="animated"
  [class.hide]="!(message?.isVisible && message?.id === id)"
  [class.show]="message?.isVisible && message?.id === id">
  <ion-card-header>
    <ion-card-title class="title-text">{{ message?.header }}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="basic-text">
    {{ message?.message }}
  </ion-card-content>
  
  <ion-item color="main" lines="none" *ngIf="message?.dismissButton">
    <ion-button slot="end" fill="clear" color="minor" (click)="clicked()">
      <ion-label class="basic-text ion-text-capitalize">{{ message?.dismissButtonText }}</ion-label>
    </ion-button>
  </ion-item>
</ion-card>