<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bt-logo" shape="round" fill="clear" (click)="goBack()" *ngIf="!useBackIcon">
        <img src="../../../assets/images/reconnect-logo.png" alt="logo image" crossorigin="anonymous">
      </ion-button>
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="start" *ngIf="useBackIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="title-text" *ngIf="useBackIcon">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
  <app-contact></app-contact>
</ion-content>