@import '../../styles/heartbeat-animation';
@import '../../styles/fonts-text';
@import '../../styles/custom-global';

ion-footer {
  background: var(--ion-color-minor);
}

.item-top {
  --padding-bottom: 5px;
  --padding-top: 5px;
}

.border-bottom {
  border-bottom: solid 1px var(--ion-color-light);
}

.bt-round {
  margin-inline-end: 10px;
}

.icon-add {
  position: absolute;
  font-size: 15px;
  top: 2px;
  left: 23px;
}