<ion-content [scrollEvents]="true" appScrollbarTheme appParallaxHeader>

  <ion-toolbar class="parallax-header border-bottom">
    <ion-item class="item-top" lines="none">
      <ion-button slot="start" class="bt-round" color="secondary" fill="clear" shape="round" (click)="addConnectionButton()">
        <ion-icon size="large" name="pulse-outline"></ion-icon>
        <ion-icon class="icon-add" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <div class="main-content">
    <app-alerts [isVisible]="isVisibleSplitPane" *ngIf="!isVisibleSplitPane"></app-alerts>
    <app-connections></app-connections>
  </div>

</ion-content>

<ion-footer class="ion-no-border" *ngIf="!isVisibleSplitPane">
  <ion-toolbar>
    <app-top-menu 
      [visible]="isVisibleSplitPane" 
      [showChat]="true" 
      [isLarge]="false"
      [showSwipeIndication]="true"></app-top-menu>
  </ion-toolbar>
</ion-footer>
