.facebook {
  color: dodgerblue;
}

.bt-share {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--ion-color-light);
  --padding-start: 0;
  --padding-end: 0;
}

.bt-nav-share ion-icon {
  padding-right: 10px;
}

.copied {
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: 2;
  width: 120px;
  padding: 5px;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  background: var(--ion-color-light-shade);
  color: var(--ion-color-dark);
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

.show-copied {
  opacity: 1;
}