<ion-grid>
  <ng-container *ngIf="!navigatorShareSupport">
    <div class="copied" [class.show-copied]="copyiedToClipboard">{{ dictSocial.copied }}</div>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-button [class]="btShareClass" (click)="shareOnWhatsapp()" 
          color="success" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="auto">
        <ion-button [class]="btShareClass" (click)="shareOnFacebook()"
          fill="clear" shape="round">
          <ion-icon class="facebook" slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="auto">
        <ion-button [class]="btShareClass" (click)="shareOnTwitter()"
          color="secondary" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="auto">
        <ion-button [class]="btShareClass" (click)="shareWithMail()"
          color="danger" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="auto">
        <ion-button [class]="btShareClass" (click)="copyLink()"
          color="dark" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="clipboard-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="navigatorShareSupport">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-button class="bt-nav-share" (click)="navigatorShare()" 
          color="success" shape="round">
          <ion-icon name="share-outline"></ion-icon>
          <ion-label class="basic-text ion-text-capitalize">{{ dictSocial.invite }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>

