<ion-grid *ngIf="noMatches">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-card [class.no-box]="sharedStoreService.activeTopMenu !== sharedService.menu3"
        [color]="sharedStoreService.activeTopMenu === sharedService.menu3 ? 'secondary' : 'main'">
        <ion-card-content>
          <p>No Matches Found</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-container *ngFor="let connection of connections; trackBy: trackById">
  <app-match-preview *ngIf="connection?.isMatched"
    [isActive]="activeMenu == 'matches' && sharedStoreService.activeMatchConnectionId === connection?.id"
    [connection]="connection" 
    (buttonEvent)="matchButtonClicked(connection)">
  </app-match-preview>
</ng-container>