<ion-grid *ngIf="noMatches">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-card [class.no-box]="nobox">
        <ion-card-content>
          <p>No Matches Yet.</p>
          <p>When a beat is matched, it will appear here, and you will be notified</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-container *ngFor="let connection of connections; trackBy: trackById">
  <app-match-preview [setLastMessage]="connection | getLastMessages:matches" *ngIf="connection?.isMatched && !connection?.isBlocked"
    [isActive]="activeMenu == 'matches' && sharedStoreService.activeMatchConnectionId === connection?.id"
    [connection]="connection" 
    (buttonEvent)="matchButtonClicked($event)">
  </app-match-preview>
</ng-container>