@import '../../styles/animation';
@import '../../styles/fonts-text';

ion-card {
  max-width: 400px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  color: var(--ion-color-dark);
  box-shadow: none;
  background: transparent !important;
}

ion-card-content {
  margin: auto;
}

ion-card-content,
ion-card-content p {
  @extend .basic-text;
}

.no-box {
  color: var(--ion-color-minor);
}