<ion-grid *ngIf="!inViewMode">
  <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
    <ion-col size="auto" *ngFor="let connection of connections; trackBy: trackById">
      <app-match-preview [connection]="connection" *ngIf="connection.isMatched"></app-match-preview>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-container *ngIf="inViewMode">
  <ng-container *ngFor="let connection of connections; trackBy: trackById">
    <app-match-preview [inViewMode]="inViewMode" [connection]="connection" *ngIf="connection.isMatched"></app-match-preview>
  </ng-container>
</ng-container>