@import '../../styles/animation';
@import '../../styles/fonts-text';

ion-card {
  max-width: 600px;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

ion-card-content {
  margin: auto;
}

ion-card-content,
ion-card-content p {
  @extend .basic-text;
}

.no-box {
  box-shadow: none;
}