.i-match {
  --background: var(--ion-color-minor);
}

ion-item {
  --min-height: 70px;
  --background: var(--ion-color-minor);
  background: var(--ion-color-minor);
}

.item-active {
  --background: var(--ion-color-light);
}

ion-icon {
  font-size: 37px;
  border-radius: 100%;
  border: 1px solid;
}

.isActive {
  --background: var(--ion-color-light);
}