@import '../../styles/animation';

ion-item {
  --min-height: 70px;
  --background: var(--ion-color-minor);
  background: var(--ion-color-minor);
}

.i-match {
  --background: var(--ion-color-minor);
}

.isActive {
  --background: var(--ion-color-light);
}

.last-msg {
  color: var(--ion-color-medium);
}