@import '../../styles/fonts-text';
@import '../../styles/animation';

ion-grid {
  padding-top: 100px;
}

.bt-s-c {
  --border-radius: 5px !important;
  width: 75px;
}

.hide {
  visibility: hidden;
}

.bt-theme {
  min-width: 200px;
  height: 40px;
  text-transform: capitalize;
}