<ion-header class="ion-no-border" *ngIf="!isVisibleSplitPane">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" class="animated"
      [class.hide]="firstTime"
      [class.fadeOutUp]="!isSettingsChanged"
      [class.fadeInDown]="isSettingsChanged">
      <ion-button class="bt-s-c" (click)="cancelSettingsChanges()"
        [disabled]="saveButtonAction?.save" color="primary" fill="outline">Cancel</ion-button>
      <ion-button class="bt-s-c" (click)="saveSettings()"
        [disabled]="saveButtonAction?.save" color="primary" fill="solid">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-item lines="none">
          <ion-label class="basic-text">Notifications</ion-label>
          <ion-toggle 
            mode="ios" 
            slot="start" 
            [checked]="showNotifications"
            (ionChange)="toggleNotifications($event)">
          </ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isVisibleSplitPane"
      class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-item lines="none">
          <ion-button class="bt-theme" (click)="logout()">
            <ion-label class="basic-text">Log Out</ion-label>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-item lines="none">
          <ion-button class="bt-theme" color="danger" (click)="deleteAccount()">
            <ion-label class="basic-text">Delete Account</ion-label>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
