@import '../../styles/fonts-text';
@import '../../styles/animation';

ion-col {
  max-width: 500px !important;
}

ion-item {
  --border-radius: 10px;
}

.large-header {
  display: flex;
  justify-content: center;
  background: var(--ion-color-minor);
}

.second-toolbar {
  max-width: 820px;
  margin: auto;
}

.bt-s-c {
  --border-radius: 5px !important;
  width: 75px;
}

.hide {
  visibility: hidden;
}

.bt-theme {
  min-width: 200px;
  height: 40px;
  text-transform: capitalize;
}

.item-invite {
  --padding-start: 0;
  --padding-end: 0;
}

.padding-x {
  padding: 0 5px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--ion-color-light);
}

.i-match {
  --background: var(--ion-color-minor);
}

.blocked-list {
  border: 1px solid var(--ion-color-light);
  border-radius: 5px;
}