@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .sm-hide {
    display: none;
  }
}

ion-grid {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  background: var(--theme-color);
  background: var(--theme-linear-color);
  color: var(--ion-color-minor);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
}
