<ion-grid>
  <ion-row class="head-row ion-justify-content-center ion-align-items-start">
    <ion-col size="12">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/icons/icon-72x72.png" alt="logo image" crossorigin="anonymous">
        </ion-avatar>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-start">
    <ion-col size="auto">
      <div class="flex-col">
        <ion-label class="title-text bold-text ion-text-uppercase">Legal</ion-label>
        <ion-button fill="clear" color="dark" (click)="gotoPrivacy()">
          <ion-label class="basic-text ion-text-capitalize">Privacy Policy</ion-label>
        </ion-button>
        <ion-button fill="clear" color="dark" (click)="gotoTerms()">
          <ion-label class="basic-text ion-text-capitalize">Terms of Service</ion-label>
        </ion-button>
      </div>
    </ion-col>

    <ion-col size="auto">
      <div class="flex-col">
        <ion-label class="title-text bold-text ion-text-uppercase">Information</ion-label>
        <!-- <ion-button fill="clear" color="dark">
          <ion-label class="basic-text ion-text-capitalize">Help</ion-label>
        </ion-button> -->
        <ion-button fill="clear" color="dark" (click)="gotoContact()">
          <ion-label class="basic-text ion-text-capitalize">Contact</ion-label>
        </ion-button>
        <ion-button fill="clear" color="dark" (click)="gotoSupport()">
          <ion-label class="basic-text ion-text-capitalize">Support</ion-label>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<app-contact-links></app-contact-links>