@import '../../styles/fonts-text';

ion-grid {
  position: relative;
  z-index: 2;
  padding: 100px 0 140px;
  background: var(--ion-color-light-tint);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
}
