@import '../../styles/fonts-text';

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
}

.head-row {
  border-bottom: 1px solid var(--ion-color-light);
}