<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button disabled="true">
        <ion-icon name="minor" slot="icon-only" name="cancel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="basic-text" color="primary">Invite Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-invite-friends></app-invite-friends>
</ion-content>