<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="why-title">Why Oozdr?</p>
      <p class="p-text title-text ion-text-center">
        There are plenty of 'Reasons' why you are not reconnecting with someone you lost touch with.
      </p>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">
          What if they don't want to reconnect? Maybe they already moved on?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">
          What if it's not the right time to reach out?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">
          What if they DO want to reconnect but are not sure how? or just afraid to do so?
        </p>
      </ion-item>

      <p class="p-text medium-text color-tertiary ion-text-center">'Oozdr' takes all these unanswered questions out of the way</p>
    </ion-col>
  </ion-row>
</ion-grid>