@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .title-text {
    font-size: 18px !important;
  }

  .medium-text {
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .why-title {
    font-size: 35px !important;
  }
}

.p-text {
  max-width: 700px;
  padding: 0 20px;
}

.why-title {
  @extend .font-params;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}