<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="why-title">{{ dictWhy.title }}</p>
      <p class="p-text title-text ion-text-center">{{ dictWhy.text_1 }}</p>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">{{ dictWhy.text_2 }}</p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">{{ dictWhy.text_3 }}</p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-text medium-text">{{ dictWhy.text_4 }}</p>
      </ion-item>

      <p class="p-text color-tertiary ion-text-center larger-text">{{ dictWhy.text_5 }}</p>
    </ion-col>
  </ion-row>
</ion-grid>