<ion-content [scrollEvents]="true" appScrollbarTheme appParallaxHeader>

  <ion-toolbar class="parallax-header second-toolbar" [class.large-header]="isVisibleSplitPane">
    <ion-buttons slot="start" *ngIf="!isVisibleSplitPane">
      <ion-button (click)="gotoSettings()" color="dark" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="animated"
      [class.hide]="firstTime"
      [class.fadeOutUp]="!isProfileChanged"
      [class.fadeInDown]="isProfileChanged">
      <ion-button class="bt-s-c" (click)="cancelProfileChanges()"
        [disabled]="saveButtonAction?.save" color="secondary" fill="outline">Cancel</ion-button>
      <ion-button class="bt-s-c" (click)="saveProfile()"
        [disabled]="saveButtonAction?.save" color="primary" fill="solid">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="main-content">
    <app-alerts [isVisible]="isVisibleSplitPane" *ngIf="!isVisibleSplitPane"></app-alerts>
    <app-profile-menu 
    [saveButtonClicked]="saveButtonAction"
    (isChangedEvent)="profileChanged($event)">
  </app-profile-menu>
</div>

</ion-content>

<ion-footer class="ion-no-border" *ngIf="!isVisibleSplitPane">
  <ion-toolbar>
    <app-top-menu 
      [visible]="isVisibleSplitPane" 
      [showChat]="true" 
      [isLarge]="false"
      [showSwipeIndication]="true"></app-top-menu>
  </ion-toolbar>
</ion-footer>
