@import '../../styles/fonts-text';
@import '../../styles/custom-global';
@import '../../styles/animation';
@import '../../styles/fade-in-down-animation';
@import '../../styles/fade-out-up-animation';

ion-footer {
  background: var(--ion-color-minor);
}

.btns-start {
  position: relative;
  top: 5px;
  left: 5px;
}

.large-header {
  display: flex;
  justify-content: center;
}

.second-toolbar {
  max-width: 820px;
  margin: auto;
}

.bt-s-c {
  --border-radius: 5px !important;
  width: 75px;
}

.hide {
  visibility: hidden;
}