@import '../../styles/fonts-text';
@import '../../styles/animation';

ion-header,
ion-footer {
  background: var(--ion-color-minor);
}

.large-header {
  display: flex;
  justify-content: center;
}

.second-toolbar {
  max-width: 820px;
  margin: auto;
}

.bt-s-c {
  --border-radius: 5px !important;
  width: 75px;
}

.hide {
  visibility: hidden;
}