@import '../../styles/fonts-text';

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-signin {
  color: var(--ion-color-primary);
  border-bottom: 1px solid;
  cursor: pointer;
}