<div class="flex-container">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <p>moshe 1</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <p>moshe 2</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <p>moshe 3</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>