<div id="sign-in-button"></div>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text">Enter Your Mobile Number</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <input id="tel-input"
        type="text" ng2TelInput
        [ng2TelInputOptions]="{initialCountry: 'de', utilsScript: '../../../assets/js/intl-tel-input/utils.js'}"
        (hasError)="telHasError($event)" 
        (intlTelInputObject)="telInputObject($event)"/>
        <p class="basic-text p-error">no errors</p>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto" class="col-txt">
      <p class="small-text">
        We will send a text message with your verification code.
        Message and data rate may apply.
        The verified phone number can be used to login.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-button (click)="sendLoginCode()">Continue</ion-button>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="false">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <p>Enter Your Verification Code</p>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-button (click)="verifyLoginCode()">Verify</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>
