@import '../../styles/global-styles';
@import '../../styles/fonts-text';
@import '../../styles/animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  #tel-input {
    min-width: 290px !important;
  }

  .col-txt {
    max-width: 100% !important;
  }

  .item-input {
    min-width: 290px !important;
  }
}

ion-spinner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#sign-in-button {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

#tel-input {
  height: 50px;
  border: 0;
  border-radius: 10px;
  background:  var(--ion-color-light);
  min-width: 350px;
}

input:focus {
  outline: none;
}

::placeholder {
  opacity: 0.6;
}

.col-txt {
  max-width: 400px;
}

.col-txt p {
  color: var(--ion-color-medium);
}

.p-error {
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

.item-input {
  --background: var(--ion-color-light);
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}

.item-resend {
  --padding-end: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  color: var(ion-color-medium);
}

.terms {
  border-bottom: 1px solid;
  cursor: pointer;
}
