<div id="sign-in-button"></div>
<ion-grid *ngIf="!confirmationResult">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="medium-text ion-text-center" *ngIf="reauthenticate">{{ dictPhone.verifyAccount }}</p>
      <p class="larger-text ion-text-center">{{  dictPhone.title }}</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <input id="tel-input"
        type="tel" ng2TelInput
        [disabled]="isContinueButtonDisabled"
        [ng2TelInputOptions]="{initialCountry: countryCode, utilsScript: '../../../assets/js/intl-tel-input/utils.js'}"
        (hasError)="telHasError($event)" 
        (intlTelInputObject)="telInputObject($event)"/>
        <p class="basic-text p-error" [class.p-error-active]="isPhoneError">{{ phoneError }}</p>
        <ion-spinner color="primary" name="dots" *ngIf="isContinueButtonDisabled"></ion-spinner>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto" class="col-txt">
      <p class="smallest-text">{{ dictPhone.explanation_1 }}</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" class="col-txt">
      <p class="smallest-text ion-text-center">
        {{ dictPhone.term_s1 }}<span class="terms" (click)="openTerms()">{{ dictPhone.term_s2 }}</span>
      </p>
    </ion-col>
    <ion-col size="auto">
      <ion-button [disabled]="isContinueButtonDisabled" (click)="sendLoginCode()">{{ dictPhone.continue_btn }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="animated fadeIn" *ngIf="confirmationResult">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text ion-text-center">{{ dictPhone.verifyCode }}</p>
      <!-- <ion-item class="item-resend" lines="none">
        <p class="small-text">Code Sent to {{ phoneNumber?.line }}</p>
        <ion-button size="small" slot="end" fill="clear" color="primary">
          <p class="small-12-text">Resend</p>
        </ion-button>
      </ion-item> -->
      <ion-item lines="none" class="item-input">
        <ion-input 
          type="number" 
          inputmode="number" 
          [placeholder]="dictPhone.verifyCodePlaceholder"
          debounce="300"
          maxlength="20"
          [value]="verificationCode" 
          (ionChange)="setVerificationInput($event)">
          <ion-icon name="keypad-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <p class="p-error"[class.p-error-active]="isVerificationError">{{ verificationError }}</p>
      <ion-spinner color="primary" name="dots" *ngIf="isVerifyButtonDisabled"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-button [disabled]="isVerifyButtonDisabled" (click)="verifyLoginCode()">{{ dictPhone.verify_btn }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
