@import '../../styles/global-styles';
@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  #tel-input {
    min-width: 300px !important;
  }

  .col-txt {
    max-width: 100% !important;
  }

  .item-input {
    min-width: 300px !important;
  }
}

#sign-in-button {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

#tel-input {
  height: 50px;
  border: 0;
  border-radius: 10px;
  background:  var(--ion-color-light);
  min-width: 350px;
}

input:focus {
  outline: none;
}

::placeholder {
  opacity: 0.6;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.col-txt {
  max-width: 400px;
}

.col-txt p {
  color: var(--ion-color-medium);
}

.p-error {
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

.item-input {
  --background: var(--ion-color-light);
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}
