@import '../../styles/fonts-text';
@import '../../styles/custom-global';
@import '../../styles/animation';
@import '../../styles/bounce-in-right-animation';

.border-bottom {
  border-bottom: 1px solid var(--ion-color-light);
}

.border-top {
  border-top: 1px solid var(--ion-color-light);
}

ion-item {
  --padding-bottom: 5px;
  --padding-top: 5px;
}

.passive {
  --color: var(--ion-color-light-shade);
}

.active {
  --color: var(--theme-color);
}

.new-matches-ind {
  position: absolute;
  top: 5px;
  width: 5px;
  height: 5px;
  background: var(--ion-color-danger);
  border-radius: 50%;
}

.swipe-icon {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
}