@import '../../styles/fonts-text';

#top-menu {
  border-bottom: 1px solid var(--ion-color-light);
}

ion-item {
  --padding-bottom: 5px;
  --padding-top: 5px;
}

ion-button {
  margin: auto;
}

.visible-item {
  --background: var(--visible-split-pane-color);
}

.passive {
  --color: var(--ion-color-medium);
}

.active {
  --color: var(--ion-color-primary);
}

.passive-visible {
  --color: var(--ion-color-dark);
}

.active-visible {
  --color: var(--ion-color-minor);
  border-radius: 10px;
}

.new-matches-ind {
  position: absolute;
  top: 5px;
  width: 5px;
  height: 5px;
  background: var(--ion-color-danger);
  border-radius: 50%;
}