@import '../../styles/fonts-text';
@import '../../styles/animation';

.top-menu-not-mobile {
  border-bottom: 1px solid var(--ion-color-light);
}

.top-menu-mobile {
  border-top: 1px solid var(--ion-color-light);
}

ion-item {
  --padding-bottom: 5px;
  --padding-top: 5px;
}

ion-button {
  margin: auto;
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: 40px;
  height: 40px;
}

.passive {
  --color: var(--ion-color-medium-tint);
}

.active {
  --color: var(--ion-color-secondary-shade);
}

.new-matches-ind {
  position: absolute;
  top: 5px;
  width: 5px;
  height: 5px;
  background: var(--ion-color-danger);
  border-radius: 50%;
}

.swipe-icon {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
}