@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .content {
    padding: 0 10px !important;
  }
}

.content {
  padding: 0 50px;
  padding-bottom: 50px;
  max-width: 1200px;
  line-height: 1.5;
}

h2, h3 {
  @extend .font-params;
}

p, li {
  @extend .basic-text;
}