<ion-content [scrollEvents]="true" appScrollbarTheme appParallaxHeader>

  <ion-toolbar class="parallax-header ion-text-center">
    <ion-buttons slot="start">
      <ion-button [disabled]="true" shape="round" color="minor" *ngIf="!contactPickerApiService?.supported">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <app-contact-picker *ngIf="contactPickerApiService?.supported"
        (contactsEvent)="gotContacts($event)">
      </app-contact-picker>
    </ion-buttons>
    <ion-label class="basic-text text-trans-none" color="secondary">
      {{ title }}
    </ion-label>
    <ion-buttons slot="end">
      <ion-button shape="round" color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="main-content">
    <app-manage-connection [contacts]="contacts" [state]="connectionsState"></app-manage-connection>
  </div>
</ion-content>

