<ion-content [scrollEvents]="true" appScrollbarTheme appParallaxHeader>

  <ion-toolbar class="parallax-header ion-text-center">
    <ion-buttons slot="start">
      <ion-button *ngIf="canShowHelp"
        shape="round" color="success" (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>    
      <ion-label class="basic-text text-trans-none" [class.l-margin]="!canShowHelp" color="secondary">{{ title }}</ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-contact-picker *ngIf="contactPickerApiService?.supported && canEdit"
        (contactsEvent)="gotContacts($event)">
      </app-contact-picker>
      <ion-button shape="round" color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="main-content">
    <app-manage-connection [contacts]="contacts" [state]="connectionsState"></app-manage-connection>
  </div>
</ion-content>

