<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text p-text color-secondary">
        Help a Friend
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="medium-text p-text">
        Invite a friend, who would like to re-connect with someone and would benefit from using 'oozdr'
      </p>
      <p class="medium-text p-text">Who will you invite?</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-social-share></app-social-share>
    </ion-col>
  </ion-row>
</ion-grid>