<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text p-text t-color">
        Help a Friend
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="title-text p-text">
        Invite a friend, who would like to re-connect with some one and would benefit from using 'reconnect'
      </p>
      <p class="title-text p-text">Who will you invite?</p>
    </ion-col>
  </ion-row>
</ion-grid>