<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text p-text color-secondary">{{ dictInvite.text_1 }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="medium-text p-text">{{ dictInvite.text_2 }}</p>
      <p class="medium-text p-text">{{ dictInvite.text_3 }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-social-share></app-social-share>
    </ion-col>
  </ion-row>
</ion-grid>