<ion-card 
  [class]="connection?.className ? connection?.className : 'bg-1'"
  [class.heartbeat]="connection?.isNewMatch"
  [button]="connection?.isNewMatch"
  (click)="cardClicked()">

  <div class="card-content" (click)="edit(true)"
    [class.as-btn]="connection?.isClosureMatched" [class.extra-padding-top]="!connection?.basicInfo?.profile_img_url">

    <div [class.name-avatar]="connection?.basicInfo?.profile_img_url">
      <ion-avatar *ngIf="connection?.basicInfo?.profile_img_url" slot="start">
        <img [src]="connection?.basicInfo?.profile_img_url" alt="profile image" crossorigin="anonymous">
      </ion-avatar>
      <ion-label color="minor" class="basic-text bold-text ion-text-wrap ion-text-capitalize ion-text-center">
        {{ connection?.basicInfo?.name }}
      </ion-label>
    </div>

    <ng-container *ngIf="!connection?.isMatched">
      <!-- Any extra content if not matched? -->
    </ng-container>

    <ng-container *ngIf="connection?.isClosureMatched">
      <p class="ion-text-wrap p-s-theme">{{ dictConnection.closure_1 }}</p>
      <p class="ion-text-wrap p-s-theme">
        <span class="ion-text-capitalize">{{ connection?.basicInfo?.name }}</span>
        {{ connection?.isClosure ? dictConnection.closure_2_1 : dictConnection.closure_2_2 }}
      </p>
      <p class="ion-text-wrap p-s-theme">
        {{ connection?.isClosure && connection?.otherParty?.isClosure ? dictConnection.closure_3_1
        : !connection?.otherParty?.isClosure && connection?.otherParty?.message ? dictConnection.closure_3_2 : !connection?.otherParty?.isClosure ? dictConnection.closure_3_3 : ''}}
      </p>
      <p class="p-s-icon">
        <ion-icon size="large" color="minor" name="checkmark-done-outline"></ion-icon>
      </p>
    </ng-container>

    <ng-container *ngIf="connection?.isNewMatch">
      <p class="ion-text-wrap p-s-theme">{{ dictConnection.match_1 }}</p>
      <p class="ion-text-wrap p-s-theme">
        <span class="ion-text-capitalize">{{ connection?.basicInfo?.name }}</span>
        {{ dictConnection.match_2 }}
      </p>
      <p class="ion-text-wrap p-s-theme">{{ dictConnection.match_3 }}</p>
      <p class="ion-text-wrap p-s-theme">{{ dictConnection.match_4 }}</p>
      <p class="p-s-icon">
        <ion-icon size="large" color="minor" name="bonfire-outline"></ion-icon>
      </p>
    </ng-container>
  </div>

  <ion-item lines="none" *ngIf="!connection?.isMatched">
    <ion-label color="minor" class="small-text ion-text-wrap">
      {{ connection?.isClosure ? dictConnection.closure_from : dictConnection.beat_from }} {{ connection?.createdAt?.toDate() | date }}
    </ion-label>
    <ion-button fill="clear" (click)="presentDisconnectConfirm()" color="minor" slot="end">
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="edit()" color="minor" slot="end" *ngIf="!connection?.isClosureMatched">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>