<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start" color="success"></ion-icon>
    <ion-label class="bold-text ion-text-wrap">Sitvanit Avivi</ion-label>
  </ion-item>

  <div class="card-content">
    <ion-item lines="none">
      <ion-icon name="time-outline" slot="start" color="success"></ion-icon>
      <ion-label class="ion-text-wrap">Added on 11.12.2020</ion-label>
    </ion-item>

  </div>

  <ion-item lines="none">
    <ion-chip
      color="main" slot="start">
      <ion-icon name="heart-dislike-outline"></ion-icon>
      <ion-label>Disconnect</ion-label>
    </ion-chip>
    <ion-chip
      color="tertiary" slot="end">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-chip>
  </ion-item>
</ion-card>