@import '../../styles/fonts-text';
@import '../../styles/global-styles';
@import '../../styles/animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  ion-card {
    width: 290px !important;
  }
}

ion-card {
  width: 350px;
  margin: 0;
  border-radius: 15px;;
}

.card-content {
  @extend .basic-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.card-content ion-item {
  width: 100%;
}

p,
ion-label {
  @extend .basic-text;
}

.i-title {
  --background: rgba(var(--ion-color-primary-rgb), 0.08);
  --inner-padding-bottom: 10px;
  --inner-padding-top: 10px;
}

ion-chip {
  margin: 0;
}

.active-animation {
  @extend .animated;
  @extend .zoomIn;
}

.p-s-theme {
  width: 100%;
  margin: 2px;
}