<ion-card 
  [class]="connection?.className ? connection?.className : 'bg-1'"
  [class.heartbeat]="connection?.isNewMatch"
  [button]="connection?.isNewMatch"
  (click)="cardClicked()">

  <div class="card-content">

    <div [class.name-avatar]="connection?.basicInfo?.profile_img_url">
      <ion-avatar *ngIf="connection?.basicInfo?.profile_img_url" slot="start">
        <img [src]="connection?.basicInfo?.profile_img_url" alt="profile image" crossorigin="anonymous">
      </ion-avatar>
      <ion-label color="minor" class="basic-text bold-text ion-text-wrap ion-text-capitalize ion-text-center">
        {{ connection?.basicInfo?.name }}
      </ion-label>
    </div>

    <ng-container *ngIf="!connection?.isMatched">
      <!-- Any extra content if not matched? -->
    </ng-container>

    <ng-container *ngIf="connection?.isNewMatch">
      <p class="ion-text-wrap p-s-theme">Congratulations! it's a match.</p>
      <p class="ion-text-wrap p-s-theme">
        <span class="ion-text-capitalize">{{ connection?.basicInfo?.name }}</span>
        was looking for you as well!
      </p>
      <p class="ion-text-wrap p-s-theme">Go ahead and reconnect.</p>
      <p class="ion-text-wrap p-s-theme">Start chatting.</p>
      <p class="p-s-icon">
        <ion-icon size="large" color="minor" name="bonfire-outline"></ion-icon>
      </p>
    </ng-container>
  </div>

  <ion-item lines="none" *ngIf="!connection?.isMatched">
    <ion-label color="minor" class="small-text ion-text-wrap">
      Beat from {{ connection?.createdAt?.toDate() | date }}
    </ion-label>
    <ion-button fill="clear" (click)="presentDisconnectConfirm()" color="minor" slot="end">
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="edit()" color="minor" slot="end">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>