@import '../../styles/animation';
@import '../../styles/fonts-text';

ion-footer {
  background: var(--ion-color-minor);
}

.border-buttom {
  border-bottom: 1px solid var(--ion-color-light);
}

.chat-container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.top-item {
  --padding-bottom: 5px;
  --padding-top: 5px;
}