<ion-header class="ion-no-border" *ngIf="!isMobile || isInsideChat">
  <ion-toolbar [class.border-buttom]="isInsideChat" [class.chat-container]="isInsideChat">

    <ng-container *ngIf="!isVisibleSplitPane">
      <ion-buttons slot="start" *ngIf="isInsideChat">
        <ion-button fill="clear" (click)="goBack()">
          <ion-icon slot="icon-only" [name]="localeService.backArrow"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>

    <ion-item lines="none" class="top-item" *ngIf="isInsideChat">
      <ion-avatar (click)="openDetails($event)" slot="start">
        <img [src]="connection?.basicInfo?.profile_img_url || defaultProfileImg" alt="profile image" crossorigin="anonymous">
      </ion-avatar>
      <ion-label class="ion-text-capitalize">{{ connection?.basicInfo?.name }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="openOptions($event)">
        <ion-icon color="dark" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content #content appScrollbarTheme>
  <app-matches *ngIf="!isVisibleSplitPane && !isInsideChat"></app-matches>
  <div class="chat-container" *ngIf="isInsideChat">
    <app-chat-content-view [match]="activeMatch" [myUserId]="user?.uid"></app-chat-content-view>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <app-top-menu *ngIf="!isVisibleSplitPane && !isInsideChat"
    [visible]="isVisibleSplitPane" [showChat]="true" [isLarge]="false" [showSwipeIndication]="true">
  </app-top-menu>

  <div class="chat-container" *ngIf="isInsideChat">
    <app-chat-input-view [match]="activeMatch"></app-chat-input-view>
  </div>
</ion-footer>
