<ion-header class="ion-no-border" *ngIf="!isVisibleSplitPane">
  <ion-toolbar>
    <app-top-menu [visible]="isVisibleSplitPane" [showChat]="true" [isLarge]="false"></app-top-menu>
  </ion-toolbar>
</ion-header>

<ion-content #content id="matches-content">
  <app-matches [inViewMode]="false" *ngIf="!isVisibleSplitPane"></app-matches>
  <div class="chat-container">
    <app-chat-content-view></app-chat-content-view>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="chat-container">
    <app-chat-input-view></app-chat-input-view>
  </div>
</ion-footer>
