<ion-header class="ion-no-border">
  <ion-toolbar [class.border-buttom]="isInsideChat">

    <ng-container *ngIf="!isVisibleSplitPane">
      <app-top-menu *ngIf="!isInsideChat"
        [visible]="isVisibleSplitPane" [showChat]="true" [isLarge]="false">
      </app-top-menu>
    
      <ion-buttons slot="start" *ngIf="isInsideChat">
        <ion-button fill="clear" (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>

    <ion-item lines="none" class="top-item" *ngIf="isInsideChat">
      <ion-avatar slot="start">
        <img [src]="connection?.basicInfo?.profile_img_url || defaultProfileImg" alt="profile image">
      </ion-avatar>
      <ion-label>
        {{ connection?.basicInfo?.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" shape="round">
        <ion-icon color="dark" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content #content appScrollbarTheme>
  <app-matches *ngIf="!isVisibleSplitPane && !isInsideChat"></app-matches>
  <div class="chat-container" *ngIf="isInsideChat">
    <app-chat-content-view [match]="match" [myUserId]="user?.user_id"></app-chat-content-view>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="isInsideChat">
  <div class="chat-container">
    <app-chat-input-view></app-chat-input-view>
  </div>
</ion-footer>
