@import './styles/fonts-text';
@import './styles/animation';

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
  --side-min-width: 350px;
  --border: 1px solid var(--ion-color-light);
}

ion-content {
  --background: var(--visible-split-pane-color);
}

ion-item {
  --min-height: 70px;
  --background: var(--ion-color-minor);
  background: var(--ion-color-minor);
}

.item-active {
  --background: var(--ion-color-light);
}

.i-title ion-label {
  font-weight: bold;
}

.color-medium-t {
  color: var(--ion-color-medium-tint);
}

.loading-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: #ff0000;
  background-image: url('../assets/icons/icon-72x72.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.show {
  visibility: visible;
  z-index: 99;
}

ion-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}