@import './styles/fonts-text';

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
  --side-min-width: 350px;
  --border: 1px solid var(--ion-color-light);
}

ion-item {
  --min-height: 70px;
}

.item-active {
  --background: var(--ion-color-light);
}