<ion-app>

  <ion-split-pane when="md" contentId="main" 
    [disabled]="!useSplitPane" 
    (ionSplitPaneVisible)="ionSplitPaneOutputEvent($event)"> 
    <!--  our side menu  -->
    <ion-menu contentId="main">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <app-top-menu></app-top-menu>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
