@import './styles/fonts-text';
@import './styles/animation';

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
  --side-min-width: 350px;
  --border: 1px solid var(--ion-color-light);
}

ion-content {
  --background: var(--visible-split-pane-color);
}

ion-item {
  --min-height: 70px;
  --background: var(--ion-color-minor);
  background: var(--ion-color-minor);
}

.item-active {
  --background: var(--ion-color-light);
}

.color-medium-t {
  color: var(--ion-color-medium-tint);
}

.center-abs {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading-state {
  @extend .center-abs;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: var(--theme-color);
}

.show {
  visibility: visible;
  z-index: 99;
}

.show-logo {
  @extend .center-abs;
  width: 72px;
  height: 72px;
  background-image: url('../assets/icons/icon-72x72.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.hide {
  opacity: 0;
}

.lds-ripple {
  @extend .center-abs;
  top: -110px;
  right: 120px;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}