@import '../../styles/fonts-text';
@import '../../styles/animation';
@import '../../styles/fade-in-animation';

.hide {
  visibility: hidden;
}

.mark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mark-container ion-icon {
  font-size: 40px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-success);
}