<ion-grid *ngIf="!showInviteFriendsMessage">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text p-text s-margin color-secondary ion-text-wrap">{{ dictFeedback.title }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="q-div">
        <ion-textarea 
          [placeholder]="dictFeedback.q_1"
          rows="5"
          spellcheck="true"
          autoGrow="true"
          (ionChange)="setMessage($event)">
        </ion-textarea>
        <p class="basic-text p-text s-margin p-stars ion-text-wrap">{{ dictFeedback.q_2 }}</p>
        <div class="stars">
          <ion-button *ngFor="let star of [1, 2, 3, 4, 5]"
            color="danger" fill="clear" shape="round" (click)="starClick(star)">
            <ion-icon slot="icon-only" [name]="starSelected >= star ? 'heart' : 'heart-outline'"></ion-icon>
          </ion-button>
        </div>
        <div class="l-space"></div>

        <div class="center-div">
          <ion-button [disabled]="!canSendMessage" (click)="sendMessage()">
            <ion-label>{{ dictFeedback.sendBtn }}</ion-label>
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="showInviteFriendsMessage">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="larger-text p-text color-secondary ion-text-wrap">{{ dictFeedback.thanks }}</p>
      <p class="basic-text p-text color-secondary ion-text-wrap">{{ dictFeedback.invite }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-social-share (clickedEvent)="socialShareClicked()"></app-social-share>        
    </ion-col>
  </ion-row>
</ion-grid>