<ion-grid class="animated"
  [class.slideInRight]="isNext"
  [class.slideInLeft]="isBack">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p>Name</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          autofocus 
          placeholder="Your Name" 
          maxLength="20" 
          debounce="300" 
          [value]="basicInfo?.name" 
          (ionChange)="setName($event)">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <p class="p-error" [class.p-error-active]="isNameError">{{ nameError }}</p>
    </ion-col>

    <ion-col size="auto">
      <p>Gender</p>
      <ion-item lines="none" class="item-input item-gender">
        <ion-button [class.bt-gender-active]="basicInfo?.gender === 'man'"
          size="large" fill="outline" class="bt-gender" (click)="setGender('man')">
          <p>Man</p>
        </ion-button>
        <ion-button [class.bt-gender-active]="basicInfo?.gender === 'woman'"
          size="large" fill="outline" class="bt-gender" (click)="setGender('woman')">
          <p>Woman</p>
        </ion-button>
        <ion-button [class.bt-gender-active]="basicInfo?.gender === 'other'"
          size="large" fill="outline" class="bt-gender" (click)="setGender('other')">
          <p>Other</p>
        </ion-button>
      </ion-item>
      <p class="p-error"[class.p-error-active]="isGenderError">{{ genderError }}</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p>Email</p>
      <ion-item lines="none" class="item-input">
        <ion-input 
          type="email" 
          inputmode="email" 
          placeholder="Your Email Address"
          debounce="300" 
          [value]="basicInfo?.email" 
          (ionChange)="setEmail($event)">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <p class="p-error"[class.p-error-active]="isEmailError">{{ emailError }}</p>
    </ion-col>

    <ion-col size="auto">
      <p>Birthday</p>
      <ion-item lines="none" class="item-input">
        <ion-icon size="small" name="calendar-outline"></ion-icon>
        <ion-datetime 
          displayFormat="MM DD YY" 
          placeholder="Select Date"
          min="1900" max="2007"
          [value]="basicInfo?.birthday"
          (ionChange)="setBirthday($event)">
        </ion-datetime>
      </ion-item>
      <p class="p-error" [class.p-error-active]="isBirthdayError">{{ birthdayError }}</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      
      <p>Profile Photo (optional)</p>
      <ion-button id="load-photo" color="medium" fill="outline" (click)="selectPhotoButton()">
        <ion-icon name="image-outline"></ion-icon>
        <p>Select Photo</p>
      </ion-button>
      <p class="p-error">Invalid photo</p>
      <input
        id="file-chip" 
        type="file" 
        class="input-select-photo" 
        (change)="selectPhoto($event?.target?.files)">

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto" id="col-photo">
      <ion-button *ngIf="basicInfo?.profilePhoto"
        color="medium" fill="clear" shape="round" (click)="removeProfilePhoto()">
        <ion-icon size="large" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="row-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <ion-button shape="round" (click)="nextStep()">Continue</ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>