@import '../../../styles/global-styles';
@import '../../../styles/fonts-text';
@import '../../../styles/animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .item-input,
  .img-container {
    min-width: 290px !important;
  }

  ion-col {
    padding: initial !important;
  }
}

p {
  @extend .basic-text;
}

ion-col {
  padding: 15px 30px;
}

.item-gender {
  --background: var(--ion-color-minor) !important;
}

.item-input {
  --background: var(--ion-color-light);
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}

.bt-gender {
  --border-radius: 10px;
  text-transform: capitalize;
  --border-color: var(--ion-color-medium);
  --color: var(--ion-color-medium);
}

.bt-gender-active {
  --border-color: var(--ion-color-primary);
  --color: var(--ion-color-dark);
}

.row-padding {
  padding: 20px 0;
}

.p-error {
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

#load-photo p {
  padding: 0 10px;
  text-transform: capitalize;
}

.input-select-photo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.croppie-container {
  position: relative;
}

.bt-rm {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: auto;
  z-index: 99;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--ion-color-light);
  border-radius: 10px;
  min-width: 350px;
  min-height: 200px;
  background-color: var(--ion-color-light);
}

.p-img {
  border-radius: 50%;
}