@import '../../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .flex-inner {
    padding-top: 50px;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--ion-color-minor);
}

.p-title {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  width: 100%;
  color: var(--ion-color-secondary);
  letter-spacing: 3px;
}

.flex-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-inner {
  margin: auto;
}

#bt-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}