<div class="flex-container">
  <div id="bt-back">
    <ion-button fill="clear" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="flex-inner">
    <app-welcome-info
      [isBack]="isBack" [isNext]="isNext" (nextEvent)="next()" *ngIf="step === 1">
    </app-welcome-info>
    <app-welcome-mobile-verification
      [isBack]="isBack" [isNext]="isNext" (nextEvent)="next()" *ngIf="step === 2">
    </app-welcome-mobile-verification>
  </div>
</div>