@import '../../../styles/global-styles';
@import '../../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .item-input {
    min-width: 300px !important;
  }
}

p {
  @extend .basic-text;
}

ion-grid {
  margin: auto;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-col {
  padding: 15px 30px;
}

.item-gender {
  --background: var(--ion-color-minor) !important;
}

.item-input {
  --background: var(--ion-color-light);
  --border-radius: 10px;
  min-width: 350px;
}

.item-input ion-input {
  --padding-start: 10px !important;
}

.bt-gender {
  --border-radius: 10px;
  text-transform: capitalize;
  --border-color: var(--ion-color-medium);
  --color: var(--ion-color-medium);
}

.bt-gender-active {
  --border-color: var(--ion-color-primary);
  --color: var(--ion-color-dark);
}

.row-padding {
  padding: 50px 0;
}

.p-error {
  visibility: hidden;
  color: var(--ion-color-danger);
  margin: 0;
  margin-top: 2px;
  padding-inline-start: 20px;
}

.p-error-active {
  visibility: visible;
}

#load-photo p {
  padding: 0 10px;
  text-transform: capitalize;
}