<div class="flex-container">
  <div class="header">
    <div id="bt-back">
      <ion-button *ngIf="!sharedStoreService?.needToFinishInfoRegistration"
        fill="clear" color="dark" [disabled]="disableBackButton" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button color="medium" fill="clear" (click)="logout()" *ngIf="sharedStoreService?.needToFinishInfoRegistration">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
    <p class="larger-text bold-text ion-text-center p-title">{{ dictWelcome.title }}</p>
  </div>
  <div class="flex-inner">
    <app-welcome-info
      [isBack]="isBack" [isNext]="isNext" (nextEvent)="next()" *ngIf="step === 1">
    </app-welcome-info>
    <app-welcome-mobile-verification *ngIf="step === 2"
      [isBack]="isBack" [isNext]="isNext" 
      (nextEvent)="next()" (processDone)="processDone($event)">
    </app-welcome-mobile-verification>
  </div>
</div>