@import '../../styles/animation';
@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .m-notif-item {
    --padding-end: 0 !important;
    --padding-start: 0 !important;
  }
}

.msg-card {
  min-width: 250px;
  max-width: 600px;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.msg-card ion-card-content {
  margin: auto;
  line-height: 1.8;
}

.p-quote,
.p-quote-n {
  max-width: 600px;
  padding: 0 10px;
  color: var(--ion-color-medium);
}

.p-quote::before {
  content: open-quote;
  position: absolute;
  left: 6px;
}
.p-quote::after {
  content: close-quote;
}

.top-padding {
  padding-top: 10px;
}

.padding-x {
  padding: 0 10px;
}

.bt-notif {
  --color: var(--ion-color-minor);
}

.m-notif {
  position: relative;
  min-width: 290px;
  max-width: 500px;
  margin: 0;
}

.m-notif-item {
  --padding-end: 30px;
  --padding-start: 30px;
}

ion-spinner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  z-index: 99;
  margin: auto;
}