<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-toast-notification 
        type="connection_added">
      </app-toast-notification>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="showNotificaionsPermission"
    class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">

      <ion-card class="m-notif animated" color="secondary"
        [class.fadeInDown]="showNotificaionsAnimationIn"
        [class.fadeOutUp]="!showNotificaionsAnimationIn">
        <ion-spinner name="dots" color="minor" *ngIf="showNotificaionsInProgress"></ion-spinner>
        <ion-item color="secondary" lines="none">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label class="medium-text">Enable push notifications</ion-label>
        </ion-item>

        <ion-card-content>
          <p class="basic-text">Instantly know when you have a new match</p>
          <p class="small-text">You can always change your selection, from your Profile -> Settings tab</p>
        </ion-card-content>
        
        <ion-item class="m-notif-item" color="secondary" lines="none">
          <ion-button [disabled]="showNotificaionsInProgress" class="bt-notif" slot="start" fill="clear" (click)="notNow()">
            <ion-label class="basic-text ion-text-capitalize">Not Now</ion-label>
          </ion-button>
          <ion-button [disabled]="showNotificaionsInProgress" class="bt-notif" slot="end" fill="clear" (click)="sure()">
            <ion-label class="basic-text ion-text-capitalize">Enable</ion-label>
          </ion-button>
        </ion-item>
      </ion-card>

    </ion-col>
  </ion-row>

  <ng-container>
    <ion-row *ngIf="connections?.length > 0"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ng-container *ngFor="let connection of connections; trackBy: trackById">
        <ion-col size="auto" *ngIf="!connection.isMatched || connection.isNewMatch">
          <app-connection [connectionInput]="connection"></app-connection>
        </ion-col>
      </ng-container>
    </ion-row>

    <!-- Incase connections page is empty(no connections nor matches) -->
    <ng-container *ngIf="connections?.length === 0 || isOnlyBlockedMatches">
      <ion-row class="ion-justify-content-center ion-align-items-start animated fadeIn">
        <ion-col size="auto">
          <ion-card button (click)="addConnectionButton()" class="msg-card">
            <ion-card-content>
              <p class="larger-text ion-text-center p-space">Start by making 'Beats'</p>
              <p class="basic-text ion-text-center">'Beats' are connections to people, loved ones, soulmate you are looking to reconnect...</p>
              <p class="p-space"></p>
              <p class="medium-text p-space">How It Works</p>
              <p class="pp basic-text">Fill in the name and mobile number of the person you are looking to reconnect with.</p>
              <p class="pp basic-text p-space">If at any time, the person you are looking for is looking for you too, we will match you up.</p>
              <p class="pp basic-text">And that's it! we will send you both an invitation to start chatting and re-establish your lost connection.</p>
              <p class="p-space"></p>
              <p class="p-space"></p>
              <p class="medium-text ion-text-capitalize ion-text-center">Dont miss a beat!</p> 
              <p class="basic-text ion-text-center p-space">Who do you want to reconnect with?<p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
        <ion-col size="auto">
          <p class="sm-medium-text p-quote">
            Doesn’t matter if you can dream it or not, all that matters is if you can begin it or not? Take that first step.
          </p>
          <p class="sm-basic-text p-quote-n">― Vikrmn, Corpkshetra</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
        <ion-col size="auto">
          <ion-button color="tertiary" size="large" shape="round" (click)="addConnectionButton()">
            <ion-icon class="padding-x" size="small" name="fitness-outline"></ion-icon>
            <ion-label class="basic-text text-trans-none">Make a Beat</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Incase connections page is empty(but has matches found) -->
    <ion-row *ngIf="isOnlyMatches && !isOnlyBlockedMatches && !isNewMatches"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ion-col size="auto">
        <ion-card class="msg-card" color="secondary">
          <ion-card-content>
            <p class="medium-text ion-text-center">Looks like you found what you were looking for.</p>
            <p></p>
            <p class="top-padding basic-text ion-text-center">You can always make more beats.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-grid>
