<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-toast-notification 
        type="connection_added">
      </app-toast-notification>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="showNotificaionsPermission"
    class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">

      <ion-card class="m-notif animated" color="secondary"
        [class.fadeInDown]="showNotificaionsAnimationIn"
        [class.fadeOutUp]="!showNotificaionsAnimationIn">
        <ion-spinner name="dots" color="minor" *ngIf="showNotificaionsInProgress"></ion-spinner>
        <ion-item color="secondary" lines="none">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label class="medium-text">{{ dictConnections.enableNotifications_1 }}</ion-label>
        </ion-item>

        <ion-card-content>
          <p class="basic-text">{{ dictConnections.enableNotifications_2 }}</p>
          <p class="small-text">{{ dictConnections.enableNotifications_3 }}</p>
        </ion-card-content>
        
        <ion-item class="m-notif-item" color="secondary" lines="none">
          <ion-button [disabled]="showNotificaionsInProgress" class="bt-notif" slot="start" fill="clear" (click)="notNow()">
            <ion-label class="basic-text ion-text-capitalize">{{ dictConnections.enableNotifications_cancel }}</ion-label>
          </ion-button>
          <ion-button [disabled]="showNotificaionsInProgress" class="bt-notif" slot="end" fill="clear" (click)="sure()">
            <ion-label class="basic-text ion-text-capitalize">{{ dictConnections.enableNotifications_accept }}</ion-label>
          </ion-button>
        </ion-item>
      </ion-card>

    </ion-col>
  </ion-row>

  <ng-container>
    <ion-row *ngIf="connections?.length > 0"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ng-container *ngFor="let connection of connections; trackBy: trackById">
        <ion-col size="auto" *ngIf="!connection.isMatched || connection.isNewMatch">
          <app-connection [connectionInput]="connection"></app-connection>
        </ion-col>
      </ng-container>
    </ion-row>

    <!-- Incase connections page is empty(no connections nor matches) -->
    <ng-container *ngIf="connections?.length === 0 || isOnlyBlockedMatches">
      <ion-row class="ion-justify-content-center ion-align-items-start animated fadeIn">
        <ion-col size="auto">
          <ion-card button (click)="addConnectionButton()" class="msg-card">
            <ion-card-content>
              <p class="larger-text ion-text-center p-space">{{ dictConnections.initialMessage_1 }}</p>
              <p class="basic-text ion-text-center">{{ dictConnections.initialMessage_2 }}</p>
              <p class="p-space"></p>
              <p class="medium-text ion-text-capitalize ion-text-center">{{ dictConnections.initialMessage_3 }}</p> 
              <p class="basic-text ion-text-center p-space">{{ dictConnections.initialMessage_4 }}<p>
            </ion-card-content>
            <div class="mk-beat">
              <ion-button color="minor" size="large" fill="clear">
                <ion-icon 
                  class="padding-x" [class.heartbeat]="canHeartBeatAnimation"
                  size="small" name="fitness-outline"></ion-icon>
                <ion-label class="basic-text text-trans-none">{{ dictConnections.initialMessage_5 }}</ion-label>
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Incase connections page is empty(but has matches found) -->
    <ion-row *ngIf="isOnlyMatches && !isOnlyBlockedMatches && !isNewMatches"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ion-col size="auto">
        <ion-card class="msg-card" color="secondary">
          <ion-card-content>
            <p class="medium-text ion-text-center">{{ dictConnections.foundMessage_1 }}</p>
            <p></p>
            <p class="top-padding basic-text ion-text-center">{{ dictConnections.foundMessage_2 }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-grid>
