@import '../../styles/animation';
@import '../../styles/fonts-text';

ion-card {
  min-width: 250px;
  max-width: 600px;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

ion-card-content {
  margin: auto;
  line-height: 1.8;
}

ion-card-content,
ion-card-content p {
  @extend .basic-text;
}

.p-quote {
  max-width: 500px;
  padding: 0 10px;
}

.top-padding {
  padding-top: 10px;
}