@import '../../styles/fonts-text';
@import '../../styles/animation';
@import '../../styles/fade-in-animation';
@import '../../styles/fade-in-down-animation';
@import '../../styles/fade-out-up-animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .m-notif-item {
    --padding-end: 0 !important;
    --padding-start: 0 !important;
  }
}

.msg-card {
  display: flex;
  justify-content: center;
  min-width: 250px;
  max-width: 600px;
  min-height: 200px;
  margin: 0;
  --color: var(--ion-color-minor);
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

.msg-card ion-card-content {
  margin: auto;
  line-height: 1.8;
}

.p-quote,
.p-quote-n {
  max-width: 600px;
  padding: 0 10px;
  color: var(--ion-color-medium);
}

.p-quote::before {
  content: open-quote;
  position: absolute;
  left: 6px;
}
.p-quote::after {
  content: close-quote;
}

.top-padding {
  padding-top: 10px;
}

.padding-x {
  padding: 0 10px;
}

.bt-notif {
  --color: var(--ion-color-minor);
}

.m-notif {
  position: relative;
  min-width: 290px;
  max-width: 500px;
  margin: 0;
}

.m-notif ion-icon {
  margin-inline-end: 10px;
}

.m-notif-item {
  --padding-end: 30px;
  --padding-start: 30px;
}

ion-spinner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  z-index: 99;
  margin: auto;
}

.p-space {
  padding: 10px 0;
}

.pp {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}