<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <app-toast-notification 
        type="connection_added" 
        [hide]="connectionsState?.state !== 'view'">
      </app-toast-notification>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="connectionsState?.state === 'add' || connectionsState?.state === 'edit'"
    class="ion-justify-content-center ion-align-items-center animated zoomIn">
    <ion-col size="auto">
      <app-manage-connection [state]="connectionsState"></app-manage-connection>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="connectionsState?.state === 'view'">
    <ion-row *ngIf="connections?.length > 0"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ion-col size="auto" *ngFor="let connection of connections; trackBy: trackById">
        <app-connection *ngIf="!connection.isMatched || connection.isNewMatch"
          [connectionInput]="connection">
        </app-connection>
      </ion-col>
    </ion-row>

    <!-- Incase connections page is empty(no connections nor matches) -->
    <ng-container *ngIf="connections?.length === 0 || !isOnlyMatches">
      <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
        <ion-col size="auto">
          <ion-card color="secondary">
            <ion-card-content>
              <p>Start by adding connections, people, loved ones, soulmate, you are looking to reconnect.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
        <ion-col size="auto">
          <p class="basic-text p-quote">
            “Doesn’t matter if you can dream it or not, all that matters is if you can begin it or not? Take that first step.”
          </p>
          <p class="basic-text p-quote">― Vikrmn, Corpkshetra</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center animated fadeIn">
        <ion-col size="auto">
          <ion-button color="tertiary" size="large" shape="round" (click)="addConnectionButton()">
            <ion-icon class="padding-x" name="pulse-outline"></ion-icon>
            <ion-label class="basic-text ion-text-capitalize">Add Connection</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Incase connections page is empty(but has matches found) -->
    <ion-row *ngIf="isOnlyMatches"
      class="ion-justify-content-center ion-align-items-center animated fadeIn">
      <ion-col size="auto">
        <ion-card color="secondary">
          <ion-card-content>
            <p>Looks like you found what you were looking for.</p>
            <p></p>
            <p class="top-padding">You can always add more connections.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>
