/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.iti__country-list { 
  width: 350px;
  overflow-x: hidden;
  white-space: break-spaces !important;
}

.present-modal-properties {
  --border-radius: 20px;
}

.signin-modal-properties {
  --border-radius: 20px;
  --max-width: 450px;
}

.ion-date-style-options .picker-wrapper {
  top: 0;
  border-radius: 20px;
  animation: fadeInDate ease-in-out 500ms;
  -webkit-animation: fadeInDate ease-in-out 500ms;
}

@-webkit-keyframes fadeInDate {
  from {opacity: 0;}
  to {opacity: 1; }
}
@keyframes fadeInDate {
  from {opacity: 0;}
  to {opacity: 1;}
}