/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@media only screen and (min-width: 768px) {
  .present-modal-properties {
    --border-radius: 20px;
  }

  .present-wide-modal-properties {
    --width: 90%;
    --height: 90%;
  }

  .present-wide-modal-properties .modal-wrapper {
    max-width: 1000px;
  }
}

.iti__country-list { 
  width: 350px;
  overflow-x: hidden;
  white-space: break-spaces !important;
}

.signin-modal-properties {
  --border-radius: 20px;
  --max-width: 450px;
}

.ion-date-style-options .picker-wrapper {
  top: 0;
  border-radius: 20px;
  animation: fadeInDate ease-in-out 500ms;
  -webkit-animation: fadeInDate ease-in-out 500ms;
}

@-webkit-keyframes fadeInDate {
  from {opacity: 0;}
  to {opacity: 1; }
}
@keyframes fadeInDate {
  from {opacity: 0;}
  to {opacity: 1;}
}

.match-details-popover,
.match-options-popover {
  --min-width: 300px;
}

.site-footer-popover .popover-content,
.match-options-popover .popover-content {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.site-footer-popover {
  --max-width: calc(100vw - 50px);
  --width: auto;
}

.toast-style {
  --background: #50c8ff;
  --color: var(--ion-color-minor);
  // .basic-text - copied fron fonts-text.css
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 1px !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  text-align: center;
}

.alert-confirm-conainer .alert-danger-text-color {
  color: var(--ion-color-danger);
}