@import '../../styles/fonts-text';

@media only screen and (min-width: $EXTRA_LARGE_WINDOW_WIDTH + 200px) {
  .outer-end-side {
    margin-right: 10%;
  }

  .outer-start-side {
    margin-left: 10%;
  }
}

@media only screen and (min-width: $EXTRA_LARGE_WINDOW_WIDTH + 500px) {
  .outer-end-side {
    margin-right: 20%;
  }

  .outer-start-side {
    margin-left: 20%;
  }
}

.m-outer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.outer-end-side {
  justify-content: flex-end;
}

.m-c {
  max-width: 600px;
  // min-width: 300px;
  margin: 2px 30px;
}

.m-bubble-start-side {
	position: relative;
  background: var(--ion-color-ginger-tint);
	border-radius: .4em;
}

.m-bubble-start-side:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
  border-right-color: var(--ion-color-ginger-tint);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.m-bubble-end-side {
	position: relative;
	background: rgba(37, 211, 102, 0.4);
	border-radius: .4em;
}

.m-bubble-end-side:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: rgba(37, 211, 102, 0.4);
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.m-c-inner {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 20px 10px;
}

.user {
  margin: 0;
  color: var(--ion-color-zoe-shade);
  width: max-content;
  min-width: 50px;
  // cursor: pointer; // disable for now
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.inner-html {
  white-space: pre-line;
  word-break: break-word;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  color: var(--ion-color-dark);
}

.date-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.date-inner {
  max-width: max-content;
  padding: 2px 10px;
  border-radius: 20px;
  color: var(--ion-color-minor);
  background: var(--ion-color-zoe);
}
