@import '../../styles/fonts-text';

.text-area {
  border-top: 1px solid var(--ion-color-light-shade);
}

ion-textarea {
  border-bottom: 1px solid var(--ion-color-light);
}

.active-input {
  border-bottom: 1px solid var(--ion-color-primary);
}

