@import '../../styles/fonts-text';

.text-area {
  border: 1px solid var(--ion-color-light);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-textarea {
  border-bottom: 1px solid var(--ion-color-light);
}

.active-input {
  border-bottom: 1px solid var(--ion-color-primary);
}

