@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .top-margin {
    margin: 0 !important;
  }

  .main-title {
    font-size: 30px !important;
    margin: 30px 0 !important;
  }
}

ion-grid {
  background: var(--ion-color-minor);
}

.t-container ion-item {
  --background: var(--ion-color-light);
}

.top-margin {
  margin: 50px 0;
}

.p-title {
  @extend .large-text;
  font-weight: 400;
  margin-bottom: 20px;
}

.p-text {
  @extend .title-text;
  max-width: 400px;
}

.p-only-text {
  @extend .title-text;
  max-width: 700px;
  padding: 0 20px;
}

.p-sol {
  font-size: 20px;
  text-align: center;
}

.t-divider {
  padding: 20px 0;
}

.bck-light {
  background: var(--ion-color-light);
}