@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .biggest-title {
    font-size: 30px !important;
    margin: 0 0 30px 0!important;
  }

  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: initial !important;
  }

  .col-container {
    text-align: center;
    padding: 0 !important;
  }

  .col-container p {
    max-width: 350px !important;
  }
  
  .title-text {
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .img-container {
    margin-top: 15px;
  }

  .how-title {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: $LARGE_WINDOW_WIDTH) {
  .c-align-start,
  .c-align-end {
    align-items: center !important;
  }
}

.sm-show {
  display: none;
}

ion-grid {
  max-width: 1000px;
  background: var(--ion-color-minor);
}

ion-item {
  --background: transparent;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.col-container p {
  width: 100%;
  max-width: 500px;
  margin: 7px 0;
}

.img-container {
  text-align: center;
  width: 100%;
}

.img-container img {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.c-align-start {
  align-items: flex-start;
}

.c-align-end {
  align-items: flex-end;
}

.sec-divider {
  padding: 30px 0;
  width: 100%;
}

.p-params {
  margin-bottom: 20px !important;
}

.m-t-rtl {
  font-size: 24px;
}

.how-title {
  @extend .font-params;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}