@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .biggest-title {
    font-size: 30px !important;
    margin: 30px 0 !important;
  }

  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: initial !important;
  }

  .col-container {
    text-align: center;
    padding: 0 !important;
  }

  .col-container p {
    max-width: 350px !important;
  }
  
  .title-text {
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .img-container {
    margin-top: 15px;
  }

  .img-container img {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

@media only screen and (max-width: $LARGE_WINDOW_WIDTH) {
  .start-margin,
  .end-margin {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
  }

  .p-md-params {
    margin-bottom: 20px !important;
  }
}

.sm-show {
  display: none;
}

ion-grid {
  background: var(--ion-color-minor);
}

ion-item {
  --background: transparent;
}

.p-only-text {
  max-width: 700px;
  padding: 0 20px;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.col-container p {
  width: 100%;
  max-width: 500px;
  margin: 7px 0;
}

.img-container img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.start-margin {
  margin-inline-start: 50px;
}

.end-margin {
  margin-inline-end: 50px;
}

.sec-divider {
  padding: 30px 0;
  width: 100%;
}