<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="main-title color-secondary">Why Reconnect?</p>
      <p class="p-only-text">Sometimes its so hard to just pick up the phone and call someone you lost connection with.</p>

      <ion-item lines="none">
        <ion-icon color="main" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          You probably are not sure if he or she want to reconnect
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="main" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          You probably are not sure if he or she want to reconnect
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="main" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          You probably are not sure if he or she want to reconnect
        </p>
      </ion-item>

      <p class="p-only-text p-sol color-tertiary">'Reconnect' takes out all those 'maybes' out of the equesion</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="main-title color-secondary">How Reconnect</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="t-container">

        <ion-item lines="none">
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title">Card Button Item 2</p>
            <p class="p-text">Card Button Item 2</p>
          </ion-label>
        </ion-item>

        <div class="t-divider"></div>

        <ion-item lines="none">
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title">Card Button Item 2</p>
            <p class="p-text">Card Button Item 2</p>
          </ion-label>
        </ion-item>

      </div>
    </ion-col>
    <ion-col size="auto">
      wide with pic
    </ion-col>
  </ion-row>
  
</ion-grid>