@import '../../styles/fonts-text';
@import '../../styles/global-styles';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .top-margin {
    margin: 0 !important;
  }

  .main-title {
    font-size: 30px !important;
    margin: 30px 0 !important;
  }

  .show-sm {
    display: block !important;
    width: 100%;
    text-align: center;
  }

  .hide-sm {
    display: none;
  }

  .t-container ion-item {
    margin-inline-end: 0 !important;
    cursor: initial !important;
  }
  
  .t-container ion-icon {
    margin-inline-end: 0 !important;
  }

  .active-title {
    color: var(--ion-color-dark) !important;
  }
}

ion-grid {
  background: var(--ion-color-minor);
}

.hide-md {
  display: none;
}

.t-container ion-item {
  --background: transparent;
  margin-inline-end: 50px;
  cursor: pointer;
}

.t-container ion-icon {
  font-size: 50px;
  margin-inline-end: 30px;
}

.top-margin {
  margin: 50px 0;
}

.p-title {
  @extend .large-text;
  font-weight: 400;
  margin-bottom: 20px;
}

.p-text {
  @extend .title-text;
  max-width: 400px;
}

.p-only-text {
  @extend .title-text;
  max-width: 700px;
  padding: 0 20px;
}

.p-sol {
  font-size: 22px;
  text-align: center;
}

.t-divider {
  padding: 20px 0;
}

.bck-light {
  background: rgba(var(--ion-color-light-rgb), 0.4);
}

.img-col {
  position: relative;
  width: 600px !important;
  height: 345px !important;
}

.img-col img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.active-title {
  color: var(--ion-color-secondary);
}

.active-img {
  z-index: 2 !important;
  opacity: 1 !important;
}