<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="main-title color-secondary">Why Reconnect?</p>
      <p class="p-only-text">There are plenty of 'Reasons' why you are not reconnecting with someone you lost touch with.</p>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if they don't want to reconnect? Maybe they already moved on?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if it's not the right time to reach out?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if they DO want to reconnect but not sure how? or just afraid to do so?
        </p>
      </ion-item>

      <p class="p-only-text p-sol color-tertiary">'Reconnect' takes all these unanswered questions out of the way</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="t-divider"></div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center bck-light">
    <ion-col size="auto">
      <p class="main-title color-secondary">How Reconnect?</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center bck-light">
    <ion-col size="auto">
      <div class="t-container">

        <ion-item lines="none">
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title">Card Button Item 2</p>
            <p class="p-text">Card Button Item 2</p>
          </ion-label>
        </ion-item>

        <div class="t-divider"></div>

        <ion-item lines="none">
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title">Card Button Item 2</p>
            <p class="p-text">Card Button Item 2</p>
          </ion-label>
        </ion-item>

      </div>
    </ion-col>
    <ion-col size="auto">
      wide with pic
    </ion-col>
  </ion-row>
  
</ion-grid>