<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <p class="main-title color-secondary">Why Reconnect?</p>
      <p class="p-only-text">There are plenty of 'Reasons' why you are not reconnecting with someone you lost touch with.</p>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if they don't want to reconnect? Maybe they already moved on?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if it's not the right time to reach out?
        </p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon color="danger" name="flag-outline"></ion-icon>
        <p class="p-only-text">
          What if they DO want to reconnect but not sure how? or just afraid to do so?
        </p>
      </ion-item>

      <p class="p-only-text p-sol color-tertiary">'Reconnect' takes all these unanswered questions out of the way</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="auto">
      <div class="t-divider"></div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center bck-light">
    <ion-col size="auto">
      <p class="main-title color-secondary">How Reconnect?</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center bck-light">
    <ion-col size="auto">
      <div class="t-container">

        <div class="show-sm hide-md">
          <ion-icon color="primary" name="pulse-outline"></ion-icon>
        </div>
        <ion-item lines="none" (click)="showSupportImg(1)">
          <ion-icon class="hide-sm" color="primary" name="pulse-outline" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title" [class.active-title]="supportImg === 1">Add Connections</p>
            <p class="p-text">Card Button Item 1</p>
          </ion-label>
        </ion-item>

        <div class="t-divider"></div>

        <div class="show-sm hide-md">
          <ion-icon color="success" name="fitness-outline"></ion-icon>
        </div>
        <ion-item lines="none" (click)="showSupportImg(2)">
          <ion-icon class="hide-sm" color="success" name="fitness-outline" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title" [class.active-title]="supportImg === 2">Card Button Item 2</p>
            <p class="p-text">Card Button Item 2</p>
          </ion-label>
        </ion-item>

        <div class="t-divider"></div>

        <div class="show-sm hide-md">
          <ion-icon color="main" name="bonfire-outline"></ion-icon>
        </div>
        <ion-item lines="none" (click)="showSupportImg(3)">
          <ion-icon class="hide-sm" color="main" name="bonfire-outline" slot="start"></ion-icon>
          <ion-label>
            <p class="p-title" [class.active-title]="supportImg === 3">You Have a Match</p>
            <p class="p-text">Card Button Item 3</p>
          </ion-label>
        </ion-item>

        <div class="t-divider"></div>
      </div>
    </ion-col>
    <ion-col size="auto" class="img-col hide-sm">
      <img src="../../assets/images/support_1.png" alt="Add Connection" crossorigin="anonymous" [class.active-img]="supportImg === 1">
      <img src="../../assets/images/support_2.png" alt="support2" crossorigin="anonymous" [class.active-img]="supportImg === 2">
      <img src="../../assets/images/support_3.png" alt="You Have a Match" crossorigin="anonymous" [class.active-img]="supportImg === 3">
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-align-items-center bck-light hide-sm">
    <ion-col size="auto">
      <div class="t-divider"></div>
      <div class="t-divider"></div>
    </ion-col>
  </ion-row>

</ion-grid>