@import '../../styles/fonts-text';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .content {
    padding: 20px 20px !important;
    margin: 20px 0 !important;
    border-radius: 20px 0 !important;
  }
}

.content {
  padding: 20px 50px;
  margin: 20px 50px;
  max-width: 1200px;
  line-height: 2;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.bt-logo {
  height: 50px;
  width: 50px;
}

.bt-logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-light);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
}

h2, h3 {
  @extend .font-params;
}

p, li {
  @extend .basic-text;
}