@import '../../styles/global-styles';
@import '../../styles/fonts-text';
@import '../../styles/animation';

// @media only screen and (max-height: 570px) {
//   .margin-height {
//     padding: 10px 0 !important;
//   }
// }

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .t-col {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #start-header ion-item {
    width: 100% !important;
    margin-inline-start: 10px !important;
  }

  .let-start-row {
    justify-content: center !important;
  }
}

.top-logo {
  border-radius: 50%;
}

ion-grid {
  margin: auto;
}

ion-content {
  position: relative;
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;
}

#start-header {
  position: absolute;
  left: 0;
  width: 100vw;
}

#start-header {
  top: 0;
}

#start-header ion-item {
  width: 80%;
  --background: transparent;
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  margin-inline-start: 10%;
}

#start-header ion-button {
  margin-inline-start: 2px;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(rgba(25, 50, 140, 0.72), rgba(25, 50, 140, 0.2)), 
    url('../../../assets/images/reconnect.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#bt-info,
#bt-signin {
  height: 30px;
}

#bt-info {
  border: 1px solid var(--ion-color-minor);
  border-radius: 20px;
}

#bt-signup {
  --padding-start: 70px;
  --padding-end: 70px;
}

ion-text {
  @extend .large-text;
  text-align: start;
  font-weight: 300;
}

h1 {
  text-transform: lowercase;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

.margin-height {
  margin: 0;
  padding: 7px 0;
}

.margin-0 {
  margin: 0;
}

.del-background {
  --background: var(--ion-color-minor);
}

.t-col {
  padding-left: 10vw;
  padding-right: 10vw;
}

.reconnect {
  position: relative;
}

.reconnect img {
  position: absolute;
  top: 5px;
  bottom: 0;
  width: 40px;
  border: 2px solid;
  border-radius: 50%;
  margin: auto;
}

.reconnect h1 {
  margin-inline-start: 43px;
}


@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

body{
  background:black;
}

.star{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}
.star::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
.star-1{
  animation-duration: 10s;
  top:10%;
}
.star-2{
  animation-duration: 5s;
  top:15%;
}