@import '../../styles/fonts-text';
@import '../../styles/animation';
@import '../../styles/circles-animation';
@import '../../styles/fade-in-animation';
@import '../../styles/fade-in-up-tint.scss';
@import '../../styles/slide-in-right-tint-animation';
@import '../../styles/slide-in-left-tint-animation';
@import '../../styles/zoom-in-animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: initial !important;
  }

  .top-s {
    min-height: calc(100vh - 59px) !important;
  }

  .p-title {
    font-size: 2rem !important;
    margin: 0 !important;
  }

  .p-sub-title {
    margin-bottom: 10px !important;
    font-size: 17px !important;
  }

  .extra-space {
    padding-bottom: 20px;
  }

  .sm-login-bt {
    margin-inline-end: 10px;
    --padding-bottom: 0;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    width: 40px;
    height: 40px;
  }

  .col-container {
    text-align: center;
    padding: 0 !important;
  }

  .col-container p {
    max-width: 350px !important;
  }
  
  .title-text {
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .img-container {
    margin-top: 15px;
  }

  .how-title {
    font-size: 35px !important;
  }

  .p-in-app {
    padding-top: 5px !important;
    text-align: center;
  }

  .mobile-content ion-button {
    width: 80%;
  }
}

@media only screen and (max-width: $LARGE_WINDOW_WIDTH) {
  .c-align-start,
  .c-align-end {
    align-items: center !important;
  }

  .how-title {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.sm-show {
  display: none;
}

ion-content {
  position: relative;
  // --ion-background-color: rgb(2,175,232);
}

.header-container {
  background: var(--ion-color-minor);
}

.header-bt-container {
  position: relative;
  max-width: 1300px;
  height: 100%;
  margin: auto;
}

.r-logo {
  position: relative;
  height: 100%;
  margin-inline-start: 20px;
}

.r-logo-mobile {
  position: relative;
  text-align: center;
}

.r-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
}

.pos-ltr {
  left: 0;
}

.pos-rtl {
  right: 0;
}

.header-bt {
  position: absolute;
  top: 50%; 
  transform: translate(0, -50%); 
}

.header-bt ion-label {
  font-weight: 600 !important;
}

.header-bt-start {
  left: 0;
}

.header-bt-end {
  right: 0;
}

.d-container {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

.top-s {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background: var(--theme-color);
  background: var(--theme-linear-color);
}

.top-s-center {
  padding: 10px;
  color: var(--ion-color-minor);
}

.p-title {
  @extend .font-params;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 20px;
  line-height: initial;
}

.p-sub-title {
  @extend .basic-text;
  padding: 0 10px 0 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.top-bt-c {
  position: relative;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}

.top-bt-c ion-button {
  position: relative;
  height: 50px;
  --background: transparent;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  border-radius: 50px;
  z-index: 1;
}

.top-bt-c ion-label {
  text-transform: none;
}

.p-in-app {
  padding: 20px;
  z-index: 1;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.col-container p {
  width: 100%;
  max-width: 500px;
  margin: 7px 0;
}

.img-container {
  text-align: center;
  width: 100%;
}

.img-container img {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.c-align-start {
  align-items: flex-start;
}

.c-align-end {
  align-items: flex-end;
}

.sec-divider {
  padding: 30px 0;
  width: 100%;
}

.hide {
  visibility: hidden;
}


// User deleted
.del-background {
  --background: var(--ion-color-minor);
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-title {
  position: absolute;
  @extend .font-params;
  font-size: 50px;
  font-weight: 600;
  top: 0;
  text-align: center;
  width: 100%;
}

.how-title-ltr {
  left: -25%;
  right: 0;  
}

.how-title-rtl {
  right: -25%;
  left: 0;  
}

.how-title-row {
  position: relative;
}

.mobile-start-content {
  position: relative;
  --ion-background-color: var(--theme-linear-color);
}

.mobile-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  text-align: center;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.sp-signin {
  margin-inline-start: 10px;
  cursor: pointer;
}

.p-params {
  margin-bottom: 20px !important;
}