@import '../../styles/global-styles';
@import '../../styles/fonts-text';
@import '../../styles/animation';

@media only screen and (max-height: 570px) {
  .margin-height {
    padding: 10px 0 !important;
  }

  h1 {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .t-col {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #start-header ion-item {
    width: 100% !important;
  }
}

.top-logo {
  border-radius: 50%;
}

ion-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ion-grid {
  margin: auto;
}

ion-content {
  position: relative;
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;
}

#start-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

#start-header ion-item {
  width: 90%;
  --background: transparent;
  --inner-padding-end: 0;
}

#start-header ion-button {
  margin-inline-start: 2px;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.01)),
    url('../../../assets/images/reconnect.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#bt-signin {
  height: 30px;
}

#bt-signup {
  --padding-start: 70px;
  --padding-end: 70px;
}

ion-text {
  @extend .large-text;
  text-align: start;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 3px;
}

.margin-height {
  margin: 0;
  padding: 15px 0;
}

.margin-0 {
  margin: 0;
}

.del-background {
  --background: var(--ion-color-minor);
}

.t-col {
  padding-left: 10vw;
  padding-right: 10vw;
}

.reconnect {
  position: relative;
}

.reconnect img {
  position: absolute;
  width: 40px;
  border: 2px solid;
  border-radius: 50%;
  top: 5px;
  bottom: 0;
  margin: auto;
}

.reconnect h1 {
  margin-inline-start: 45px;
}