@import '../../styles/global-styles';
@import '../../styles/fonts-text';
@import '../../styles/animation';

@media only screen and (max-height: 570px) {
  .margin-height {
    padding: 10px 0 !important;
  }

  h1 {
    font-size: 1em !important;
  }
}

ion-grid {
  margin: auto;
}

ion-content {
  position: relative;
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;
}

#start-header {
  position: absolute;
  top: 0;
  left: 0;
}

#start-header ion-item {
  width: 100vw;
  --background: transparent;
  --inner-padding-end: 0;
}

#start-header ion-button {
  margin-inline-start: 2px;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url('../../../assets/images/reconnect.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#bt-signin {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

#bt-signup {
  --padding-start: 70px;
  --padding-end: 70px;
}

ion-text {
  @extend .large-text;
  text-align: center;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
}

.margin-height {
  margin: 0;
  padding: 15px 0;
}

.margin-0 {
  margin: 0;
}