<ion-content>

  <div id="start-header">
    <ion-item lines="none">
      <ion-button
        id="bt-signin"
        slot="end"
        color="main">
        Sign In
      </ion-button>
      <ion-button
        slot="end"
        size="large"
        fill="clear"
        color="minor">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div id="bg-img"></div>

  <div class="flex-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-text color="minor">
            <h1>reconnect with your soulmate</h1>
            <!-- <h2>moshe</h2> -->
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-button 
            id="bt-signup" 
            size="large" 
            shape="round" 
            color="main">
            SIGN UP
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
