<ion-content *ngIf="canShowPage && !showMobileStartPage && !sharedStoreService?.userDeleted"
  [scrollEvents]="true" appScrollbarTheme appParallaxHeader>

  <div class="parallax-header header-container border-bottom">
    <div class="header-bt-container">
      <div class="r-logo">
        <img src="../../../assets/images/oozdr-logo-name.png" alt="logo image" crossorigin="anonymous">
      </div>
      <div class="header-bt header-bt-end">
        <ion-button color="dark" fill="clear" shape="round" class="sm-login-bt" (click)="signIn()">
          <ion-label class="basic-text ion-text-capitalize sm-hide">Log In</ion-label>
          <ion-icon class="sm-show" size="large" name="log-in-outline"></ion-icon>
        </ion-button>
        <!-- <ion-button class="sm-hide" color="dark" fill="clear" shape="round">
          <ion-label class="basic-text ion-text-capitalize">About</ion-label>
        </ion-button> -->
        <!-- <ion-button class="sm-hide" color="dark" fill="clear" shape="round" (click)="gotoSupport()">
          <ion-label class="basic-text ion-text-capitalize">Support</ion-label>
        </ion-button> -->
      </div>
    </div>
  </div>

  <div class="main-content">
    
    <div class="d-container">

      <div class="top-s">

        <div class="top-s-center ion-text-center sm-hide">
          <p class="p-title">Reconnect with your EX...</p>
          <p class="p-sub-title">Have you ever thought about your soulmate? your Ex? the love of your life?</p>
          <p class="p-sub-title">Maybe they're thinking about you as well?</p>
          <p class="p-sub-title">Maybe they're looking for you too!</p>
          <div class="top-bt-c">
            <ion-button shape="round" (click)="gotoWelcome()">
              <ion-label class="basic-text">Join us and find out</ion-label>
            </ion-button>
          </div>
        </div>

        <div class="top-s-center ion-text-center sm-show">
          <p class="p-title ion-text-center">Reconnect with</p>
          <p class="p-title ion-text-center extra-space">Your EX...</p>
          <p class="p-sub-title">Have you ever thought about your soulmate? your Ex? the love of your life?</p>
          <p class="p-sub-title">Maybe they're thinking about you as well?</p>
          <p class="p-sub-title">Maybe they're looking for you too!</p>
          <div class="top-bt-c">
            <ion-button shape="round" (click)="gotoWelcome()">
              <ion-label class="basic-text">Join us and find out</ion-label>
            </ion-button>
          </div>
        </div>

        <div class="p-in-app animated fadeIn zoomIn" *ngIf="canShowInstallApp">
          <p class="basic-text color-minor">Get the app. Install instantly, find what you need faster, anytime.</p>
          <ion-button color="success" (click)="installAsApp()">
            <ion-label class="smaller-text">INSTALL APP</ion-label>
          </ion-button>
        </div>

        <ul class="circles">
          <li [class.sm-hide]="circle > 5" *ngFor="let circle of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></li>
        </ul>
      </div>

      <div class="sec-divider"></div>

      <ion-grid>

        <ion-row class="how-title-row ion-justify-content-center ion-align-items-center">
          <p class="how-title color-dark">How It Works</p>
          <ion-col size="12" size-lg="6" id="scroll1" class="scroll-animation animated hide">
            <div class="col-container c-align-end">
              <p class="medium-text color-secondary">Add Beat(s)</p>
              <p class="title-text ion-text-wrap p-md-params">
                Fill in the name and mobile number of the person you want to reconnect with.
              </p>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6" id="scroll2" class="scroll-animation animated hide">
            <div class="col-container c-align-start">
              <div class="img-container">
                <img src="../../assets/images/support_1.png" alt="Add Connection" crossorigin="anonymous">
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="sec-divider sm-hide"></div>
        <div class="sec-divider sm-hide"></div>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-lg="6" push-lg="6" id="scroll3" class="scroll-animation animated hide">
            <div class="col-container c-align-start">
              <p class="medium-text color-secondary">Wait for It</p>
              <p class="title-text ion-text-wrap p-md-params">
                This is the hard part. waiting... If at any time, the person you are looking for is looking for you too, we will match you up.
              </p>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6" pull-lg="6" id="scroll4" class="scroll-animation animated hide">
            <div class="col-container c-align-end">
              <div class="img-container">
                <img src="../../assets/images/support_2.png" alt="support2" crossorigin="anonymous">
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="sec-divider sm-hide"></div>
        <div class="sec-divider sm-hide"></div>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-lg="6" id="scroll5" class="scroll-animation animated hide">
            <div class="col-container c-align-end">
              <p class="medium-text color-secondary">You Have a Match</p>
              <p class="title-text ion-text-wrap p-md-params">
                After we find your match, we will send each of you an invitation to start chatting and re-establish your lost connection.
              </p>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6" id="scroll6" class="scroll-animation animated hide">
            <div class="col-container c-align-start">
              <div class="img-container">
                <img src="../../assets/images/support_3.png" alt="You Have a Match" crossorigin="anonymous">
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="sec-divider sm-hide"></div>
        <app-why-oozdr></app-why-oozdr>
        <div class="sec-divider sm-hide"></div>
      </ion-grid>
    </div>

    <app-site-footer></app-site-footer>
  </div>
</ion-content>

<ion-content class="mobile-start-content ion-no-padding" *ngIf="canShowPage && showMobileStartPage && !sharedStoreService?.userDeleted">

  <div class="r-logo-mobile">
    <img src="../../../assets/images/oozdr-logo-name-white.png" alt="logo image" crossorigin="anonymous">
  </div>
  <div class="mobile-content">
    <p class="p-title color-minor">Reconnect</p>
    <p class="p-title color-minor">With</p>
    <p class="p-title color-minor">Your EX...</p>
    
    <div class="top-bt-c">
      <ion-button size="large" shape="round" (click)="gotoWelcome()">
        <ion-label class="basic-text ion-text-uppercase">Get Started</ion-label>
      </ion-button>
    </div>
  </div>
  <ul class="circles">
    <li [class.sm-hide]="circle > 5" *ngFor="let circle of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></li>
  </ul>
</ion-content>

<ion-content class="del-background" *ngIf="sharedStoreService?.userDeleted">
  <div class="flex-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <p class="title-text">“The story of life is quicker than the wink of an eye,</p>
          <p class="title-text">the story of love is hello and goodbye... until we meet again”</p>
          <p class="title-text">― Jimi Hendrix</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
