@import '../../styles/global-styles';
@import '../../styles/fonts-text';
@import '../../styles/animation';
@import '../../styles/circles-animation';

@media only screen and (max-width: $SMALL_WINDOW_WIDTH) {
  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: initial !important;
  }

  .top-s {
    min-height: calc(100vh - 100px) !important;
  }

  .p-title {
    font-size: 2rem !important;
    margin: 0 !important;
  }

  .p-sub-title {
    margin-bottom: 10px !important;
    font-size: 17px !important;
  }

  .extra-space {
    padding-bottom: 30px;
  }

  .sm-login-bt {
    margin-inline-end: 10px;
    --padding-bottom: 0;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    width: 40px;
    height: 40px;
  }

  .col-container {
    text-align: center;
    padding: 0 !important;
  }

  .title-text {
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .start-margin,
  .end-margin {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
  }

  .img-container {
    margin-top: 15px;
  }
  
  .img-container img {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

.sm-show {
  display: none;
}

ion-content {
  position: relative;
  // --ion-background-color: #EEF1FA;
}

.header-container {
  background: var(--ion-color-minor);
}

.header-bt-container {
  position: relative;
  max-width: 1300px;
  height: 100%;
  margin: auto;
}

.r-logo {
  position: relative;
  height: 100%;
  margin-inline-start: 20px;
}

.r-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 32px;
  border-radius: 50%;
}

.r-logo p {
  @extend .font-params;
  position: absolute;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  letter-spacing: unset !important;
  color: var(--theme-color);
}

.header-bt {
  position: absolute;
  top: 50%; 
  transform:translate(0, -50%); 
}

.header-bt ion-label {
  font-weight: 600 !important;
}

.header-bt-start {
  left: 0;
}

.header-bt-end {
  right: 0;
}

.d-container {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

.top-s {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background: var(--theme-color);
  background: var(--theme-linear-color)
}

.top-s-center {
  padding: 10px;
  color: var(--ion-color-minor);
}

.p-title {
  @extend .font-params;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 20px;
}

.p-sub-title {
  @extend .basic-text;
  padding: 0 10px 0 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.top-bt-c {
  position: relative;
  top: 2rem;
  width: 100%;
  text-align: center;
}

.top-bt-c ion-button {
  position: relative;
  height: 50px;
  --background: transparent;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  border-radius: 50px;
  z-index: 1;
}

.top-bt-c ion-label {
  text-transform: none;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.col-container p {
  width: 100%;
  max-width: 500px;
  margin: 7px 0;
}

.img-container img {
  border-radius: 10px;
  box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);
}

.start-margin {
  margin-inline-start: 50px;
}

.end-margin {
  margin-inline-end: 50px;
}

.sec-divider {
  padding: 30px 0;
  width: 100%;
}

.hide {
  visibility: hidden;
}


// -----------------------------------------------------------
.del-background {
  --background: var(--ion-color-minor);
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}