<ion-content>

  <div id="start-header">
    <ion-item lines="none">
      <ion-button
        id="bt-signin"
        slot="end"
        color="main"
        (click)="signUp()">
        Sign In
      </ion-button>
      <ion-button
        slot="end"
        size="large"
        fill="clear"
        color="minor">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div id="bg-img"></div>

  <div class="flex-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-text color="minor">
            <p class="margin-height animated fadeInDown">Have you ever thought about your soulmate? your Ex? the love of your life?</p>
            <p class="margin-height animated delay-1s fadeInDown">Maybe they're thinking about you as well?</p>
            <div class="margin-height animated delay-2s fadeInDown">
              <p class="margin-0">Find out if they are looking for you as well!</p>
              <!-- <p>Maybe it's meant to be!</p> -->
            </div>
            <div class="margin-height animated delay-3s fadeInDown">
              <h1>RECONNECT WITH YOUR SOULMATE</h1>
              <!-- <p>Simple sign up and find out!</p> -->
              <!-- <p>Everything is private, secured and simple.</p> -->
              <!-- <p>Don't worry we will update you immediately when your soulmate has been found</p> -->
            </div>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center animated delay-3s fadeInDown">
        <ion-col size="auto">
          <ion-button 
            id="bt-signup" 
            size="large" 
            shape="round" 
            color="main"
            (click)="signUp()">
            LET'S START
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
