@import '../../styles/fonts-text';
@import '../../styles/animation';
@import '../../styles/fade-in-animation';

@media only screen and (max-width: $MEDIUM_WINDOW_WIDTH) {
  ion-grid {
    padding-top: 5px;
  }
}

.alert-container {
  min-width: 250px;
  max-width: 390px;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 200px;
    opacity: 1;
  }
}

.close-alert {
  animation-name: slideout !important;
}

@keyframes slideout {
  from {
    max-height: 200px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.bg-color-danger {
   --background: var(--ion-color-danger);
}

.bg-color-success {
  --background: var(--ion-color-success);
}

.bg-color-primary {
  --background: var(--ion-color-primary);
}

.alert-container-invisible {
  margin: 0 10px;
}

.alert-container-invisible .alert-title-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alert-title-item {
  --padding-bottom: 0;
}

.alert-container-invisible .alert-bt-item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.alert-bt-item {
  --padding-top: 0;
  --padding-bottom: 0;
  border-bottom: 1px solid var(--ion-color-light);
}

.alert-title-item ion-icon {
  margin-inline-end: 10px;
}

.color-title {
  color: var(--ion-color-minor);
}